
<template>
    <div class="card">
        <table>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</template>

<script>

export default {
    
}

</script>
