
<template>
  <div>
    <div class="mb-3 -mx-1">
      <v-btn-toggle
        class="mx-1"
        v-model="bitrix_task_filter_role"
        mandatory>
        <v-btn value="My CAPARA">
          My CAPARA
        </v-btn>
        <v-btn value="CAPARA To Me">
          CAPARA to Me
        </v-btn>
        <v-btn value="Observer">
          Observer
        </v-btn>
      </v-btn-toggle>
      <v-btn-toggle
        class="mx-1"
        v-model="bitrix_task_filter_tag"
        mandatory>
        <v-btn value="Conversation">
          Conversation
        </v-btn>
        <v-btn value="Feedback">
          Feedback
        </v-btn>
        <v-btn value="Recognition">
          Recognition
        </v-btn>
      </v-btn-toggle>
    </div>
    <v-card outlined>
      <v-simple-table>
        <thead>
          <tr>
            <th>CAPARA</th>
            <th>CFR Review / Lesson Learned</th>
            <th>Accountable</th>
            <th>Responsible</th>
            <th>Deadline</th>
            <th colspan="2" class="text-right w-px">
              <v-btn
                @click="createBitrixTask"
                color="green"
                dark
                depressed
                small>
                Add Capara
              </v-btn>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7" v-if="!bitrix_task_list.length">
              <span>No Record</span>
            </td>
          </tr>
          <tr v-for="bitrix_task in bitrix_task_list"
            :key="bitrix_task.id">
            <td class="whitespace-pre-wrap">{{ bitrix_task.title }}</td>
            <td class="whitespace-pre-wrap">{{ bitrix_task.description }}</td>
            <td>{{ getBitrixUserEmail(bitrix_task.auditor_id) }}</td>
            <td>{{ getBitrixUserEmail(bitrix_task.responsible_id) }}</td>
            <td>{{ bitrix_task.deadline }}</td>
            <td class="text-center w-px">
              <template v-if="bitrix_task.status == 5">
                <v-chip
                  class="font-medium uppercase"
                  color="green"
                  dark
                  outlined
                  small>
                  Completed
                </v-chip>
              </template>
              <template v-else>
                <v-btn
                  v-if="bitrix_task.created_by == bitrix_user_id
                    || bitrix_task.responsible_id == bitrix_user_id"
                  @click="completeBitrixTask(bitrix_task.id)"
                  color="green"
                  dark
                  depressed
                  small>
                  Complete
                </v-btn>
              </template>
            </td>
            <td class="w-px">
              <div class="whitespace-no-wrap -mx-1"
                v-if="bitrix_task.created_by == bitrix_user_id">
                <v-btn
                  @click="editBitrixTask(bitrix_task)"
                  class="mx-1"
                  color="grey"
                  dark
                  depressed
                  small>
                  Edit
                </v-btn>
                <v-btn
                  @click="deleteBitrixTask(bitrix_task.id)"
                  class="mx-1"
                  color="red"
                  dark
                  depressed
                  small>
                  Delete
                </v-btn>
              </div>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-card>
    <div class="mt-1">
      <v-pagination
        v-model="page"
        :length="last_page"
        :total-visible="7">
      </v-pagination>
    </div>
    <v-dialog
      v-model="show_form"
      max-width="640px"
      title="CFR Review & CAPARA"
      persistent>
      <v-card tile>
        <v-toolbar flat>
          <v-toolbar-title>
            CFR Review & CAPARA
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            @click="cancelSaveBitrixTask()"
            icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text class="px-4 pb-0">
          <v-row class="py-3">
            <v-col cols="12">
              <v-select
                v-model="bitrix_task.tag"
                :items="['Conversation', 'Feedback', 'Recognition']"
                label="Tag"
                clearable
                outlined
                hide-details>
              </v-select>
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="bitrix_task.title"
                label="CAPARA"
                hide-details
                outlined>
              </v-textarea>
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="bitrix_task.description"
                label="CFR Review / Lesson Learned"
                hide-details
                outlined>
              </v-textarea>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="bitrix_task.auditor_id"
                :cache-items="true"
                :items="bitrix_user_list"
                item-text="email"
                item-value="user_id"
                label="Accountable"
                :search-input.sync="search_bitrix_task_auditor_id"
                clearable
                hide-details
                outlined>
              </v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="bitrix_task.responsible_id"
                :cache-items="true"
                item-text="email"
                item-value="user_id"
                :items="bitrix_user_list"
                label="Responsible"
                :search-input.sync="search_bitrix_task_responsible_id"
                clearable
                hide-details
                outlined>
              </v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-menu>
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="bitrix_task.deadline"
                    v-on="on"
                    label="Deadline"
                    hide-details
                    outlined>
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="bitrix_task.deadline"
                  no-title scrollable>
                  <div class="flex-grow-1"></div>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12">
              <div class="-mx-1">
                <v-btn
                  @click="cancelSaveBitrixTask()"
                  class="mx-1"
                  color="grey"
                  dark>
                  Cancel
                </v-btn>
                <v-btn
                  @click="saveBitrixTask()"
                  class="mx-1"
                  color="green"
                  dark>
                  Save
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

import { getISODay, getISOWeek } from 'date-fns';
import Noty from 'noty';

import 'noty/lib/noty.css';
import 'noty/lib/themes/mint.css';

export default {

  data: () => ({

    api_url: null,
    form_action: null,

    page: 1,
    last_page: 1,

    bitrix_task: {},
    bitrix_task_list: [],

    bitrix_user_id: null,
    bitrix_user_list: [],
    bitrix_user_original_list: [],

    search_bitrix_task_auditor_id: null,
    search_bitrix_task_responsible_id: null,

    bitrix_task_filter_role: 'My CAPARA',
    bitrix_task_filter_tag: 'Conversation',

    metric_action: {},
    metric_action_list: [],

    show_form: false,

    get_bitrix_user_list_timeout: null,
  }),

  mounted () {

    this.initApiUrl();
    this.getBitrixTaskList();
  },

  methods: {

    initApiUrl() {
      return this.api_url = api_url;
    },

    getAxiosConfig () {

      let token = localStorage.getItem('token');

      return {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
    },

    setPage () {

      if (this.page == 1) {
        return this.getBitrixTaskList();
      }

      return this.page = 1;
    },

    getBitrixTaskList () {

      this.showAlertLoadingBitrixTaskList();

      let url = `${this.api_url}/2/bitrix-task`;
      let config = this.getAxiosConfig();

      config.params = {
        page: this.page,
        filter_role: this.bitrix_task_filter_role,
        filter_tag: this.bitrix_task_filter_tag
      };

      let axios_get = axios.get(url, config);

      axios_get.then(({ data }) => {

        this.page = data.meta.page;
        this.last_page = data.meta.last_page;

        this.bitrix_user_id = data.data.bitrix_user_id;
        this.bitrix_user_list = data.data.bitrix_user_list;
        this.bitrix_user_original_list = data.data.bitrix_user_list;

        this.bitrix_task_list = data.data.bitrix_task_list;

        this.showAlertBitrixTaskListLoaded();
      });
    },

    getBitrixUserEmail (id) {
      
      let bitrix_user = this.bitrix_user_original_list
        .find(element => element.user_id == id);

      if (!bitrix_user) {
        return;
      }

      return bitrix_user.email;
    },

    saveBitrixTask () {

      if (this.form_action == 'create') {
        return this.storeBitrixTask();
      }

      if (this.form_action == 'edit') {
        return this.updateBitrixTask();
      }

      return;
    },

    createBitrixTask () {

      this.bitrix_task = {};
      this.form_action = 'create';
      this.show_form = true;
    },

    storeBitrixTask () {

      this.show_form = false;
      this.form_action = null;

      this.showAlertSavingBitrixTask();

      let url = `${this.api_url}/2/bitrix-task`;
      let config = this.getAxiosConfig();

      let data = {
        bitrix_task: this.bitrix_task
      };

      let axios_post = axios.post(url, data, config);

      axios_post.then(() => {
        this.showAlertBitrixTaskSaved();
        this.getBitrixTaskList();
      });
    },

    cancelSaveBitrixTask () {

      this.bitrix_task = {};
      this.form_action = null;
      this.show_form = false;
    },

    editBitrixTask (bitrix_task) {

      this.bitrix_task = Object.assign({}, bitrix_task);
      this.form_action = 'edit';
      this.show_form = true;
    },

    updateBitrixTask () {

      this.show_form = false;
      this.form_action = null;

      this.showAlertSavingBitrixTask();
      
      let id = this.bitrix_task.id;
      let url = `${this.api_url}/2/bitrix-task/${id}`;
      let config = this.getAxiosConfig();

      let data = {
        bitrix_task: this.bitrix_task
      };

      let axios_put = axios.put(url, data, config);

      axios_put.then(() => {
        this.showAlertBitrixTaskSaved();
        this.getBitrixTaskList();
      });
    },

    completeBitrixTask (id) {

      this.showAlertSavingBitrixTask();

      let url = `${this.api_url}/2/complete-bitrix-task/${id}`;
      let config = this.getAxiosConfig();

      let axios_put = axios.post(url, null, config);

      axios_put.then(() => {
        this.showAlertBitrixTaskSaved();
        this.getBitrixTaskList();
      });
    },

    deleteBitrixTask (id) {

      let s = Swal.fire({
        title: 'Delete Warning',
        text: 'Are you sure you want to delete this item?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        reverseButtons: true,
        customClass: {
          confirmButton: 'bg-red-500',
          cancelButton: 'bg-gray-500'
        },
      });

      s.then((result) => {

        if (result.value) {
          this.destroyBitrixTask(id);
        }
      });
    },

    destroyBitrixTask (id) {

      this.showAlertDeletingBitrixTask();

      let url = `${this.api_url}/2/bitrix-task/${id}`;
      let config = this.getAxiosConfig();

      let axios_put = axios.delete(url, config);

      axios_put.then(() => {
        this.showAlertBitrixTaskDeleted();
        this.getBitrixTaskList();
      });
    },

    getBitrixUserList (search) {

      clearTimeout(this.get_bitrix_user_list_timeout);

      let url = `${api_url}/2/bitrix-user`;
      let config = this.getAxiosConfig();

      config.params = {
        search: search
      };
      
      let getBitrixUserList = () => {

        let axios_get = axios.get(url, config);

        axios_get.then(({ data }) => {
          this.bitrix_user_list
            = data.data.bitrix_user_list;
        });
      };
      
      this.get_bitrix_user_list_timeout = setTimeout(
        getBitrixUserList, 500
      );
    },

    showAlertLoadingBitrixTaskList () {

      let n = new Noty({
        text: 'Loading Task List',
        type: 'info',
        layout: 'bottomLeft',
        timeout: 3000
      });
      
      n.show();
    },

    showAlertBitrixTaskListLoaded () {

      let n = new Noty({
        text: 'Task List Loaded',
        type: 'success',
        layout: 'bottomLeft',
        timeout: 3000
      });
      
      n.show();
    },

    showAlertSavingBitrixTask () {

      let n = new Noty({
        text: 'Saving task',
        type: 'info',
        layout: 'bottomLeft',
        timeout: 3000
      });
      
      n.show();
    },

    showAlertBitrixTaskSaved () {

      let n = new Noty({
        text: 'Task is saved',
        type: 'success',
        layout: 'bottomLeft',
        timeout: 3000
      });
      
      n.show();
    },

    showAlertDeletingBitrixTask () {

      let n = new Noty({
        text: 'Deleting task',
        type: 'info',
        layout: 'bottomLeft',
        timeout: 3000
      });
      
      n.show();
    },

    showAlertBitrixTaskDeleted () {

      let n = new Noty({
        text: 'Task is deleted',
        type: 'success',
        layout: 'bottomLeft',
        timeout: 3000
      });
      
      n.show();
    }
  },

  watch: {

    page: 'getBitrixTaskList',
    bitrix_task_filter_role: 'setPage',
    bitrix_task_filter_tag: 'setPage',
    search_bitrix_task_auditor_id: 'getBitrixUserList',
    search_bitrix_task_responsible_id: 'getBitrixUserList',
  }
}

</script>

<style>

.swal2-confirm.bg-red-500 {
  background-color: #f56565;
}

.swal2-cancel.bg-gray-500 {
  background-color: #a0aec0;
}

</style>