
<template>
    <div>
        <div class="font-normal mb-2 text-right">
            {{ todayDateString }}
        </div>
        <div class="d-flex flex-wrap mb-2" style="margin: auto -0.25rem auto">
            <div class="no-wrap">            
                <button class="btn btn-secondary btn-flat btn-w-md btn-lg mx-1"
                    :class="{ active: tab_index == 0 }"
                    @click="tab_index = 0">
                    Measures
                </button>
                <button class="btn btn-secondary btn-flat btn-w-md btn-lg mx-1"
                    :class="{ active: tab_index == 1 }"
                    @click="tab_index = 1">
                    CAPARA
                </button>
            </div>
            <div class="flex-grow-1"></div>
            <div class="text-right">
                <v-btn-toggle dense>
                    <v-btn
                        class="opacity-100 px-3"
                        @click="loadLastWeekMetric()"
                        v-if="tab_index == 0"
                        depressed>
                        <span>Copy Last Week Progress</span>
                    </v-btn>
                    <v-menu v-if="tab_index == 0" left offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn
                                class="opacity-100"
                                v-on="on"
                                depressed
                                icon>
                                <v-icon>mdi-menu-down</v-icon>
                            </v-btn>
                        </template>
                        <v-list class="mt-1">
                            <v-list-item
                                @click="loadMetricQuery(); loadMetricAggregate();">
                                <v-list-item-title>
                                    <span>Copy From Data Source</span>
                                </v-list-item-title>
                            </v-list-item>
                            <v-list-item
                                @click="loadLastQuarterMetric()">
                                <v-list-item-title>
                                    <span>Copy Last Quarter Scoreboard</span>
                                </v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-btn-toggle>
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-dark btn-pure" @click="goToPreviousWeek()">
                        <i class="ti-angle-left"></i>
                    </button>
                    <input class="bg-transparent text-center b-0 fs-15 w-70px" :value="week_label" readonly>
                    <button class="btn btn-dark btn-pure" @click="goToNextWeek()">
                        <i class="ti-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card b-1 mb-2" v-if="tab_index == 0">
            <table class="table">
                <thead>
                    <tr>
                        <th class="min-w-200px lh-1 align-middle">
                            <div>Lag / Lead / Action Measures</div>
                            <small>Please specify unit (e.g. RM, %) in your metric</small>
                        </th>
                        <th class="text-center w-1px lh-1 align-middle">
                            <div>Type</div>
                        </th>
                        <!-- <th class="text-center w-100px">Unit</th> -->
                        <th class="text-left no-wrap w-120px lh-1 align-middle">
                            <div>Target</div>
                            <small class="red--text">Number only</small>
                        </th>
                        <th class="text-left no-wrap w-120px lh-1 align-middle">
                            <div>Current Progress</div>
                            <small class="red--text">Number only</small>
                        </th>
                        <!-- <th class="text-center w-100px">%</th> -->
                        <th class="w-1px"></th>
                        <th class="w-1px"></th>
                        <th class="text-center no-wrap w-1px">
                            <button class="btn btn-bold btn-xs btn-success mx-1"
                                @click="createMetric({})">
                                Add WIG
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(metric, index) in metrics" :key="index">
                        <td class="align-middle">
                            <div class="d-flex">
                                <div :style="{ 'margin-left': 16 * metric.type_id + 'px' }">
                                </div>
                                <textarea class="form-control" type="text"
                                    :placeholder="getMetricNamePlaceholder(metric)"
                                    v-model="metric.name"
                                    @change="metricsEdited = true"
                                    rows="3">
                                </textarea>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            {{ metric.type_code | capitalize }}
                        </td>
                        <!--
                        <td class="align-middle">
                            <BootstrapSelect class="form-control"
                                :options="['#', '%', 'RM', '$']"
                                v-if="metric.type_id != 0"
                                v-model="metric.target_unit">
                            </BootstrapSelect>
                        </td>
                        -->
                        <td class="align-middle">
                            <input class="form-control text-center" type="text"
                                v-if="metric.type_id != 0"
                                v-model="metric.target_value"
                                @change="metricsEdited = true">
                        </td>
                        <td class="align-middle">
                            <input class="form-control text-center" type="text"
                                v-model="metric.track_value"
                                v-if="metric.type_id != 0"
                                @change="metricsEdited = true">
                        </td>
                        <!--
                        <td class="align-middle">
                            <input class="form-control text-center" type="text"
                                v-if="metric.type_id != 0">
                        </td>
                        -->
                        <td class="align-middle text-center no-wrap">
                            <button class="btn btn-bold btn-xs btn-info"
                                @click="getMetricQueryDetail(metric)"
                                v-if="metric.is_query">
                                <span>Data</span>
                            </button>
                            <button class="btn btn-bold btn-xs btn-info"
                                @click="getMetricAggregateDetail(metric)"
                                v-if="metric.is_aggregate">
                                <span>Data</span>
                            </button>
                        </td>
                        <td class="align-middle text-center no-wrap">
                            <button class="btn btn-bold btn-xs mx-1"
                                :class="[
                                    metric.chart
                                    && metric.chart.data.length > 1
                                    && metric.chart.data[0].length > 1
                                    ? 'btn-info' : 'btn-secondary'
                                ]" @click="editMetricChart(index)"
                                v-if="metric.type_id != 0">
                                Chart
                            </button>
                            <span>&nbsp;</span>
                            <button class="btn btn-bold btn-xs mx-1"
                                :class="[metric.detail ? 'btn-info' : 'btn-secondary']"
                                @click="editMetricDetail(index)"
                                v-if="metric.type_id != 0">
                                Detail
                            </button>
                        </td>
                        <td class="align-middle text-center no-wrap">
                            <button class="btn btn-bold btn-xs btn-secondary mx-1"
                                v-if="metric.type_id < 4"
                                @click="createMetric(metric)">
                                Add {{ metric_types[metric.type_id+1] }}
                            </button>
                            <span v-if="metric.type_id < 4">&nbsp;</span>
                            <button class="btn btn-bold btn-xs btn-danger mx-1"
                                @click="deleteMetric(metric)">
                                Delete
                            </button>
                            <v-menu :close-on-content-click="false">
                                <template v-slot:activator="{ on }">
                                    <v-btn class="m-1" icon small v-on="on">
                                        <v-icon>mdi-menu-down</v-icon>
                                    </v-btn>
                                </template>
                                <v-list dense>
                                    <v-list-item>
                                        <v-list-item-action class="mr-5">
                                            <v-switch color="primary"
                                                v-model="metric.is_reverse_progress">
                                            </v-switch>
                                        </v-list-item-action>
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                <span>Reverse Progress %</span>
                                            </v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </td>
                    </tr>
                    <tr v-if="!metrics.length">
                        <td colspan="8">
                            No Data
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <v-card
            class="mb-2"
            v-if="tab_index == 1"
            outlined>
            <v-simple-table>
                <thead>
                    <tr>
                        <th>Open</th>
                        <th class="text-center">Lag</th>
                        <th>Tag</th>
                        <th>CFR Review / Lesson Learned</th>
                        <th>CAPARA</th>
                        <th>Accountable</th>
                        <th>Responsible</th>
                        <th>Deadline</th>
                        <th class="w-px">&nbsp;</th>
                        <th class="text-right w-px">
                            <v-btn
                                @click="createMetricAction()"
                                color="green"
                                dark
                                depressed
                                small>
                                Add Capara
                            </v-btn>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(metric_action, index) in metric_actions" :key="index">
                        <td class="no-wrap">{{ `W${ metric_action.week_id }` }}</td>
                        <td class="text-center">{{ getLagNumber(metric_action) }}</td>
                        <td>{{ metric_action.type }}</td>
                        <td>{{ metric_action.issue }}</td>
                        <td>{{ metric_action.capa }}</td>
                        <td>{{ metric_action.accountable }}</td>
                        <td>{{ getMetricActionResponsible(metric_action.responsible) }}</td>
                        <td>{{ metric_action.deadline }}</td>
                        <td class="text-center px-1">
                            <v-btn
                                class="mx-1"
                                v-if="metric_action.status == 1"
                                @click="completeMetricAction(index)"
                                depressed
                                small>
                                Complete
                            </v-btn>
                            <v-chip
                                v-if="metric_action.status == 2"
                                class="font-medium uppercase"
                                color="green"
                                label
                                outlined
                                small>
                                Completed
                            </v-chip>
                        </td>
                        <td class="text-right w-px whitespace-no-wrap">
                            <div class="-mx-1">
                                <v-tooltip v-if="!metric_action.hide_week_id" top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                            class="mx-1"
                                            v-on="on"
                                            @click="hideMetricAction(index)"
                                            color="grey darken-3"
                                            icon
                                            small>
                                            <v-icon>mdi-eye-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Visible</span>
                                </v-tooltip>
                                <v-tooltip v-else top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                            class="mx-1"
                                            v-on="on"
                                            @click="unhideMetricAction(index)"
                                            color="grey darken-3"
                                            icon
                                            small>
                                            <v-icon>mdi-eye-off-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Hidden</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                            class="mx-1"
                                            v-on="on"
                                            @click="editMetricAction(index)"
                                            color="grey darken-3"
                                            icon
                                            small>
                                            <v-icon>mdi-square-edit-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Edit</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                            class="mx-1"
                                            v-on="on"
                                            @click="deleteMetricAction(index)"
                                            color="red"
                                            :disabled="metric_action.status > 1"
                                            icon
                                            small>
                                            <v-icon>mdi-delete-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Delete</span>
                                </v-tooltip>
                            </div>
                        </td>
                    </tr>
                    <tr v-if="!metric_actions.length">
                        <td colspan="7">No Data</td>
                    </tr>
                </tbody>
            </v-simple-table>
        </v-card>
        <div class="mb-2" v-if="tab_index == 1">
            <v-pagination
                total-visible="7"
                v-model="metric_action_list_current_page"
                :length="metric_action_list_last_page">
            </v-pagination>
        </div>
        <div class="fixed z-10 bottom-0 right-0">
            <div class="flex flex-col py-1 px-2">
                <v-btn
                    class="my-1"
                    fab
                    small
                    dark
                    color="green darken-2"
                    @click="scrollToStart()">
                    <v-icon>mdi-chevron-up</v-icon>
                </v-btn>
                <v-btn
                    class="my-1"
                    fab
                    small
                    dark
                    color="green darken-2"
                    @click="scrollToEnd()">
                    <v-icon>mdi-chevron-down</v-icon>
                </v-btn>
            </div>
        </div>
        <div class="text-center">
            <div class="my-1">
                <v-btn class="mx-1"
                    color="blue lighten-5 blue--text"
                    @click="storeBatchMetricTracks()"
                    depressed>
                    <span>Save As Draft</span>
                </v-btn>
                <v-btn class="mx-1"
                    color="blue white--text"
                    @click="showScoreboardCheckin = true"
                    depressed>
                    <span>Save & Check-In</span>
                </v-btn>
            </div>
            <router-link
                target="_blank"
                to="/scoreboard-review"
            >
                <v-alert
                    class="text-left my-1"
                    style="display: inline-block"
                    text
                    type="info"
                >
                    Have your manager approved your scoreboard? Click "REVIEW".
                </v-alert>
            </router-link>
        </div>
        <BSModal :show.sync="showMetricQueryDetail"
            size="modal-lg"
            title="Data Source">
            <table class="table table-bordered mb-0"
                v-if="metricQueryDetail && metricQueryDetail.length">
                <thead>
                    <tr>
                        <th></th>
                        <th v-for="(value, column) in metricQueryDetail[0]"
                            :key="value">
                            <span>{{ column }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(record, index) in metricQueryDetail"
                        :key="index">
                        <td>{{ index + 1 }}</td>
                        <td v-for="(value, key) in record" :key="key">
                            <span>{{ value }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span v-else>No Data</span>
        </BSModal>
        <BSModal :show.sync="show_metric_action_form"
            title="CFR Review & CAPARA">
            <v-alert class="mt-0 mb-3" type="error" :value="!($refs['ref_metric_select']||{}).valid">
                <span>Choose corresponding Lag to show CAPARA</span>
            </v-alert>
            <div class="form-group">
                <v-select
                    :items="metric_lag_list_filtered"
                    item-text="name"
                    item-value="ref_metric"
                    label="Lag to display CAPARA"
                    placeholder="."
                    v-model="new_metric_action.ref_metric"
                    :rules="[ value => !!value || 'required']"
                    ref="ref_metric_select"
                    filled
                    clearable
                    hide-details>
                </v-select>
            </div>
            <div class="form-group">
                <v-select
                    :items="['Conversation', 'Feedback', 'Recognition']"
                    label="Tag"
                    placeholder="."
                    v-model="new_metric_action.type"
                    filled
                    clearable
                    hide-details>
                </v-select>
            </div>
            <div class="form-group">
                <label>CFR Review / Lesson Learned</label>
                <textarea class="form-control" rows="3" v-model="new_metric_action.issue"></textarea>
            </div>
            <div class="form-group">
                <label>CAPARA</label>
                <textarea class="form-control" rows="3" v-model="new_metric_action.capa"></textarea>
            </div>
            <div class="form-group">
                <label>Accountable</label>
                <input class="form-control" v-model="new_metric_action.accountable">
            </div>
            <div class="form-group">
                <v-switch
                    v-model="new_metric_action.notify_responsible"
                    label="Notify Responsible Person"
                    hide-details>
                </v-switch>
            </div>
            <div class="form-group">
                <v-autocomplete
                    v-model="new_metric_action.responsible"
                    :cache-items="true"
                    :loading="loadingBitrixUser"
                    :items="bitrixUserItems"
                    :search-input.sync="searchBitrixUser"
                    :return-object="true"
                    label="Responsible"
                    item-text="name"
                    item-value="user_id"
                    placeholder="."
                    filled
                    chips
                    clearable
                    deletable-chips
                    hide-details
                    multiple>
                    <template v-slot:selection="data">
                        <v-chip close
                            label
                            :input-value="data.selected"
                            v-bind="data.attrs"
                            @click:close="removeMetricActionResponsible(data.item)">
                            {{ data.item.name }} {{ data.item.last_name }}
                        </v-chip>
                    </template>
                    <template v-slot:item="data">
                        <v-list-item-content>
                            <v-list-item-title v-if="data.item.name">
                                {{ data.item.name }} {{ data.item.last_name }}
                            </v-list-item-title>
                            <v-list-item-subtitle v-if="data.item.name != data.item.email">
                                {{ data.item.email }}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                    </template>
                </v-autocomplete>
            </div>
            <v-menu min-width="290px">
                <template v-slot:activator="{ on }">
                    <div class="form-group">
                        <label>Deadline</label>
                        <input class="form-control" v-model="new_metric_action.deadline" v-on="on">
                    </div>
                </template>
                <v-date-picker
                    v-model="new_metric_action.deadline"
                    no-title scrollable>
                    <div class="flex-grow-1"></div>
                </v-date-picker>
            </v-menu>
            <div class="text-center">
                <button class="btn btn-light btn-bold text-dark mx-1"
                    @click="show_metric_action_form = false">
                    Cancel
                </button>
                <button class="btn btn-light btn-bold text-primary mx-1"
                    @click="formAction">
                    Save
                </button>
            </div>
        </BSModal>
        <v-dialog
            max-width="600px"
            @keydown.esc="showMetricChart = false"
            v-model="showMetricChart"
            persistent>
            <v-card tile>
                <v-toolbar flat>
                    <v-toolbar-title>Metric Chart</v-toolbar-title>
                    <v-btn class="ml-2"
                        color="orange lighten-1"
                        @click="metricChartHelpVisible = true">
                        <v-icon left>mdi-help-circle-outline</v-icon>
                        <span>Help</span>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="showMetricChart = false" icon>
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                <v-card-text class="py-2">
                    <v-row>
                        <v-col cols="12">
                            <v-expansion-panels>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>
                                        <span>Chart Config</span>
                                    </v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <div class="form-group">
                                            <label class="mb-0">Chart Type</label>
                                            <div class="btn-group d-block">
                                                <label class="btn btn-dark btn-outline w-100px mb-0"
                                                    :class="{ active: metricChartType == 'line' }">
                                                    <input class="d-none" type="radio" v-model="metricChartType" value="line">
                                                    <span>Line</span>
                                                </label>
                                                <label class="btn btn-dark btn-outline w-100px mb-0"
                                                    :class="{ active: metricChartType == 'area' }">
                                                    <input class="d-none" type="radio" v-model="metricChartType" value="area">
                                                    <span>Area</span>
                                                </label>
                                                <label class="btn btn-dark btn-outline w-100px mb-0"
                                                    :class="{ active: metricChartType == 'bar' }">
                                                    <input class="d-none" type="radio" v-model="metricChartType" value="bar">
                                                    <span>Bar</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mx-n3">
                                            <div class="form-group d-inline-block px-3">
                                                <label class="mb-0">Chart Stacked</label>
                                                <div class="btn-group d-block">
                                                    <label class="btn btn-dark btn-outline w-100px mb-0"
                                                        :class="{ active: metricChartStacked }">
                                                        <input class="d-none" type="checkbox" v-model="metricChartStacked">
                                                        <span>Stacked</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group  d-inline-block px-3">
                                                <label class="mb-0">Horizontal Bar</label>
                                                <div class="btn-group d-block">
                                                    <label class="btn btn-dark btn-outline w-120px mb-0"
                                                        :class="{ active: metricChartHorizontal }">
                                                        <input class="d-none" type="checkbox" v-model="metricChartHorizontal">
                                                        <span>Horizontal</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </v-col>
                        <v-col cols="12">
                            <div class="flex mb-1">
                                <h6>Chart Data</h6>
                                <div class="flex-auto"></div>
                                <v-btn
                                    @click="metricChartData = [[]]"
                                    depressed
                                    x-small>
                                    Clear
                                </v-btn>
                            </div>
                            <JExcel class="mb-3"
                                v-model="metricChartData">
                            </JExcel>
                        </v-col>
                        <v-col cols="12">
                            <h6>Chart Display</h6>
                            <VueApexCharts
                                :type="metricChartType"
                                height="300px"
                                :options="mappedMetricChartOptions"
                                :series="mappedMetricChartDataSeries">
                            </VueApexCharts>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="pa-4">
                    <div class="flex-grow-1"></div>
                    <button class="btn btn-light btn-bold text-dark mx-1"
                        @click="showMetricChart = false">
                        Cancel
                    </button>
                    <button class="btn btn-light btn-bold text-primary mx-1"
                        @click="updateMetricChart()">
                        Save
                    </button>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <BSModal :show.sync="showMetricDetail"
            size="modal-lg"
            title="Metric Detail">
            <div class="form-group">
                <FroalaEditor
                    v-model="metricDetailData">
                </FroalaEditor>
            </div>
            <div class="text-center">
                <button class="btn btn-light btn-bold text-dark mx-1"
                    @click="showMetricDetail = false">
                    Cancel
                </button>
                <button class="btn btn-light btn-bold text-primary mx-1"
                    @click="updateMetricDetail()">
                    Save
                </button>
            </div>
        </BSModal>
        <v-dialog v-model="metricChartHelpVisible" max-width="600px">
            <v-card class="" tile>
                <v-card-title>
                    <span>Metric Chart Help</span>
                </v-card-title>
                <v-card-text>
                    <img src="@/assets/images/PN-Guide-Chart-Example.png">
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog max-width="600px"
            v-model="showScoreboardCheckin">
            <v-card>
                <v-card-title>
                    <span>Save & Check-In</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="py-1">
                    <v-row>
                        <v-col cols="12">
                            <v-text-field label="Cycle Name"
                                :value="cycle_name"
                                hide-details
                                readonly>
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field label="Week No"
                                :value="week_id"
                                hide-details
                                readonly>
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field label="Notify Email 1"
                                v-model="notify_email_1"
                                hide-details>
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field label="Notify Email 2"
                                v-model="notify_email_2"
                                hide-details>
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field label="Notify Email 3"
                                v-model="notify_email_3"
                                hide-details>
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <div class="text-center">
                                <v-btn class="mx-1"
                                    color="black white--text"
                                    @click="showScoreboardCheckin = false"
                                    depressed>
                                    <span>Back</span>
                                </v-btn>
                                <v-btn class="mx-1"
                                    color="blue white--text"
                                    @click="storeBatchMetricTracks(true)"
                                    depressed>
                                    <span>Proceed</span>
                                </v-btn>
                            </div>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
        <pn-feedback
            :show.sync="show_feedback">
        </pn-feedback>
    </div>
</template>

<script>

import BSModal from '@/components/BSModal.vue';
// import BootstrapSelect from '@/components/BootstrapSelect.vue';
import FroalaEditor from '@/components/FroalaEditor.vue';
import JExcel from '@/components/JExcel.vue';
import ApexCharts from '@/components/ApexCharts.vue';
import VueApexCharts from 'vue-apexcharts';
import { validationMixin } from 'vuelidate';
// import { numeric } from 'vuelidate/lib/validators';
import PnFeedback from '@/components/PnFeedback.vue';

import {
    addWeeks, format, getISODay, getISOWeek, getQuarter, getYear, setDay, subQuarters, subWeeks
} from 'date-fns';

export default {

    mixins: [validationMixin],

    components: {
        BSModal,
        // BootstrapSelect,
        FroalaEditor,
        JExcel,
        ApexCharts,
        VueApexCharts,
        PnFeedback
    },

    data: () => ({

        tab_index: 0,
        new_metric_action: {},
        metrics: [],
        
        metric_lag_list: [],
        metric_actions: [],
        metric_action_list_current_page: 1,
        metric_action_list_last_page: 1,

        show_metric_action_form: false,
        MetricActionFormValid: false,
        form_action: null,
        form_edit_index: null,
        CFRTagOptions: [
            { label: '', value: '' },
            { label: 'Conversation', value: 'conversation' },
            { label: 'Feedback', value: 'feedback' },
            { label: 'Recognition', value: 'recognition' }
        ],

        ref_date: null,

        metricsEdited: false,

        showMetricChart: false,
        metricChartIndex: null,
        metricChartData: null,
        metricChartType: null,
        metricChartStacked: false,
        metricChartHorizontal: false,
        mappedMetricChartDataSeries: [{ data: [] }],
        mappedMetricChartXaxisCategories: [],
        mappedMetricChartOptions: { chart: {} },

        showMetricDetail: false,
        metricDetailIndex: null,
        metricDetailData: null,
        metricDetailHeaders: null,
        metricDetailCellStyle: null,

        showMetricQueryDetail: false,
        metricQueryDetail: null,

        metricAggregates: [],
        metricQueries: [],

        bitrixUserItems: [],
        searchBitrixUser: null,
        loadingBitrixUser: false,
        getBitrixUserItemsTimeout: null,

        metricChartHelpVisible: false,

        showScoreboardCheckin: false,

        show_feedback: false,

        notify_email_1: null,
        notify_email_2: null,
        notify_email_3: null
    }),

    validations () {

        let numeric = (value) => !isNaN(value) || !value;

        return {
            metrics: {
                $each: {
                    track_value: {
                        numeric
                    },
                    target_value: {
                        numeric
                    }
                }
            }
        };
    },

    mounted () {

        this.setRefDate();
        this.showUserMetrics();
        this.listMetricAction();
    },

    methods: {

        showNewQuarterInfo () {

            return Swal.fire({
                title: 'Is your scoreboard empty?',
                type: 'info',
                html: '<h1> If yes, no worry.</h1>' +
                    '<br/>' +
                    '<ul>' +
                        '<li>1. Click <span class="font-medium text-red-700">Copy Last Quarter Scoreboard</span>.</li>' +
                        '<li>2. Click <span class="font-medium text-red-700">Save As Draft</span>.</li>' +
                    '</ul>',
                timer: 5000
            });
        },

        getWigTwoLagAverage () {

            let wig_list = this.metrics.filter(
                metric => metric.type_code == 'wig'
            );

            let ref_wig = -1;

            if (wig_list.length >= 2) {
                ref_wig = wig_list[1].ref_wig;
            }

            let lag_list = this.metrics.filter(
                metric => metric.ref_wig == ref_wig
                    && metric.type_code == 'lag'
            );

            let lag_percentage_list = lag_list.map(
                lag => lag.track_value / lag.target_value
            );

            console.log(lag_percentage_list);
        },

        setRefDate () {

            let date = new Date();
            let today = getISODay(date);
            let sunday = setDay(date, 7);

            if (today < 5) {
                sunday = subWeeks(sunday, 1);
            }

            this.ref_date = sunday;
        },

        loadMetricAggregate () {

            let url = `${api_url}/metric-aggregate-values`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    week_id: this.week_id
                }
            }

            axios.get(url, config)
                .then(response => {
                    this.metricAggregates = response.data.data;
                    this.setMetricAggregateValues();
                });
        },

        loadMetricQuery () {

            let url = `${api_url}/metric-query-values`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    week_id: this.week_id
                }
            }

            axios.get(url, config)
                .then(response => {
                    this.metricQueries = response.data.data;
                    this.setMetricQueryValues();
                });
        },

        setMetricQueryValues () {

            let self = this;

            this.metricQueries.forEach(function (record) {

                let index = self.metrics.findIndex(function (metric) {
                    return metric.ref_metric == record.ref_metric;
                });

                self.metrics[index].track_value = record.value;
            });
        },

        setMetricAggregateValues () {

            let self = this;

            this.metricAggregates.forEach(function (record) {

                let index = self.metrics.findIndex(function (metric) {
                    return metric.ref_metric == record.ref_metric;
                });

                self.metrics[index].track_value = record.value;
            });
        },

        getMetricQueryDetail (metric) {

            let url = `${api_url}/metric-query-detail`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    week_id: this.week_id,
                    ref_metric: metric.ref_metric
                }
            }

            axios.get(url, config)
                .then(response => {
                    let detail = response.data.data.detail;
                    this.showMetricQueryDetail = true;
                    this.metricQueryDetail = detail;
                });
        },

        getMetricAggregateDetail (metric) {

            let url = `${api_url}/metric-aggregate-detail`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    week_id: this.week_id,
                    ref_metric: metric.ref_metric
                }
            }

            axios.get(url, config)
                .then(response => {
                    let detail = response.data.data.detail;
                    this.showMetricQueryDetail = true;
                    this.metricQueryDetail = detail;
                });
        },

        loadLastWeekMetric () {

            let self = this;

            let url = `${api_url}/user-metric-track`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    week_id: this.week_id - 1
                }
            };

            axios.get(url, config).then(function ({ data }) {

                let collection = data.collection;

                self.metrics.forEach(function (metric) {

                    let ref_metric = metric.ref_metric;

                    let item = collection.find(
                        element => element.ref_metric == ref_metric
                    );

                    if (item) {
                        metric.track_value = item.track_value;
                        metric.target_value = item.target_value;
                    }
                });
            });
        },

        loadLastQuarterMetric () {

            let self = this;

            let date = subQuarters(this.ref_date, 1);
            let year = getYear(date)
            let quarter = getQuarter(date)
            let cycle_name = `${year}-Q${quarter}`;

            let url = `${api_url}/metric`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    cycle_name: cycle_name
                }
            }

            if (this.ref_date_year != 2020 || this.ref_date_quarter != 3) {

                return Swal.fire({
                    title: "Error",
                    type: 'error',
                    text: "You can't copy last quarter scoreboard quarter on 2020-Q2."
                });
            }

            Swal.fire({
                    title: 'Proceed?',
                    text: 'Data you entered in this page will be replaced with data from last quarter scoreboard.' +
                        'To undo after proceed, refresh (F5) your browser before you save.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Proceed',
                    cancelButtonText: 'Back',
                    reverseButtons: true,
                    customClass: {
                        confirmButton: 'bg-primary',
                        cancelButton: 'bg-dark'
                    },
                }).then((result) => {

                    if (result.value) {

                        axios.get(url, config)
                            .then(({ data }) => {

                                let metrics = data.data.metrics;

                                if (!metrics.length) { return; }

                                this.metrics = metrics;
                            });
                    }
                });
        },

        createMetric (parent_metric) {

            let parent_key = `ref_${parent_metric.type_code}`;

            let new_metric = Object.assign({}, this.newMetric());

            let ref_max = Math.max(
                0, ...this.metrics.map(metric => metric.ref_metric)
            );

            new_metric.ref_metric = ref_max + 1;
            
            new_metric.type_id = parent_metric.type_id != null
                ? parent_metric.type_id + 1
                : 0;
            
            new_metric.type_code = this.metric_types[new_metric.type_id];

            this.metric_types.forEach(function (type_code, type_id) {

                let key = `ref_${type_code}`

                new_metric[key] = new_metric.type_id > type_id
                    ? parent_metric[key]
                    : new_metric.type_id == type_id
                    ? new_metric.ref_metric
                    : 0;
            });

            let reversed_last_index = this.metrics.slice().reverse().findIndex(function (metric) {
                return parent_metric[parent_key] == metric[parent_key];
            });

            let last_index = reversed_last_index >= 0
                ? this.metrics.length - reversed_last_index
                : reversed_last_index;

            this.metrics.splice(last_index, 0, new_metric);
        },

        deleteMetric (metric) {

            let metric_key = `ref_${metric.type_code}`;

            let swal = Swal;

            Swal.fire({
                title: 'Delete metric warning',
                text: 'This action will delete all the child metrics that depend on this metric.',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                reverseButtons: true,
                customClass: {
                    confirmButton: 'bg-danger',
                    cancelButton: 'bg-dark'
                },
            }).then((result) => {

                if (result.value) {
                    this.metrics = this.metrics.filter(function (record) {
                        return metric[metric_key] != record[metric_key];
                    });

                    this.metricsEdited = true;
                }
            });
        },

        createMetricAction (ref_metric) {

            this.new_metric_action = {
                type: 'Conversation'
            };

            this.form_action = 'create';
            this.show_metric_action_form = true;
            this.metricsEdited = true;
        },

        editMetricAction (index) {

            this.new_metric_action = Object.assign({}, this.metric_actions[index]);
            
            if (!this.new_metric_action.type) {
                this.new_metric_action.type = 'Conversation';
            }

            if (this.new_metric_action.deadline) {

                let split = this.new_metric_action.deadline.split('-');

                if (split[0].length != 4 || split[1].length != 2 || split[2].length != 2) {
                    this.new_metric_action.deadline = null;
                }
            }

            this.form_action = 'edit';
            this.form_edit_index = index;
            this.show_metric_action_form = true;
            this.metricsEdited = true;
        },

        completeMetricAction (index) {

            let metric_action = this.metric_actions[index];
            let id = metric_action.id;

            let url = `${api_url}/complete-metric-action`;
            let token = localStorage.getItem('token');
            let ref_metric = metric_action.ref_metric;

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            let data = {
                id: id,
                week_id: this.week_id,
                ref_metric: ref_metric
            }

            axios.post(url, data, config)
                .then(() => {

                    this.listMetricAction();

                    Swal.fire({
                        toast: true,
                        type: 'success',
                        title: 'Metric action successfully mark as completed.',
                        showConfirmButton: false,
                        timer: 3500,
                        position: 'bottom-start'
                    });
                });
        },

        hideMetricAction (index) {

            let metric_action = this.metric_actions[index];
            let id = metric_action.id;

            let url = `${api_url}/hide-metric-action`;
            let token = localStorage.getItem('token');
            let ref_metric = metric_action.ref_metric;

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            let data = {
                id: id,
                week_id: this.week_id,
                ref_metric: ref_metric
            }

            axios.post(url, data, config)
                .then(() => {

                    this.listMetricAction();

                    Swal.fire({
                        toast: true,
                        type: 'success',
                        title: 'Metric action is successfully hidden.',
                        showConfirmButton: false,
                        timer: 3500,
                        position: 'bottom-start'
                    });
                });
        },

        unhideMetricAction (index) {

            let metric_action = this.metric_actions[index];
            let id = metric_action.id;

            let url = `${api_url}/unhide-metric-action`;
            let token = localStorage.getItem('token');
            let ref_metric = metric_action.ref_metric;

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            let data = {
                id: id,
                week_id: this.week_id,
                ref_metric: ref_metric
            }

            axios.post(url, data, config)
                .then(() => {

                    this.listMetricAction();

                    Swal.fire({
                        toast: true,
                        type: 'success',
                        title: 'Metric action is successfully unhidden.',
                        showConfirmButton: false,
                        timer: 3500,
                        position: 'bottom-start'
                    });
                });
        },

        deleteMetricAction (index) {

            let metric_action = this.metric_actions[index];
            let id = metric_action.id;

            Swal.fire({
                title: 'Warning',
                text: 'Are you sure you want to delete this metric action.',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                reverseButtons: true,
                customClass: {
                    confirmButton: 'bg-danger',
                    cancelButton: 'bg-dark'
                }
            }).then((result) => {

                if (result.value) {
                    
                    // this.metric_actions.splice(index, 1);
                    this.metricsEdited = true;

                    if (!id) {
                        return Swal.fire({
                            toast: true,
                            type: 'error',
                            title: 'Something went wrong.',
                            showConfirmButton: false,
                            timer: 3500,
                            position: 'bottom-start'
                        });
                    }

                    let url = `${api_url}/metric-action/${id}`;
                    let token = localStorage.getItem('token');

                    let week_id = metric_action.week_id;
                    let ref_metric = metric_action.ref_metric;

                    let config = {
                        headers: {
                            Authorization: `Bearer ${token}`
                        },
                        params: {
                            week_id: week_id,
                            ref_metric: ref_metric
                        }
                    };

                    axios.delete(url, config)
                        .then(() => {
                            Swal.fire({
                                toast: true,
                                type: 'success',
                                title: 'Metric action successfully deleted.',
                                showConfirmButton: false,
                                timer: 3500,
                                position: 'bottom-start'
                            });
                        });

                    this.listMetricAction();
                }
            });
        },

        formAction () {

            return this.form_action == 'create'
                ? this.storeMetricAction()
                : this.form_action == 'edit'
                ? this.updateMetricAction()
                : null;
        },

        editMetricChart (index) {

            this.showMetricChart = true;
            this.metricChartIndex = index;

            let chartData = [[]];

            let chartType = 'bar';
            let chartStacked = false;
            let chartHorizontal = false;

            if (this.metrics[index].chart) {

                chartType = this.metrics[index].chart.chart_type;
                chartData = JSON.parse(JSON.stringify(this.metrics[index].chart.data));
                chartStacked = this.metrics[index].chart.chart_stacked;
                chartHorizontal = this.metrics[index].chart.chart_horizontal;
            }

            this.metricChartData = chartData;
            this.metricChartType = chartType;
            this.metricChartStacked = chartStacked;
            this.metricChartHorizontal = chartHorizontal;
        },

        mapMetricChartData () {

            let series = [];

            let seriesNames = this.metricChartData[0].slice(1);
            let values = this.metricChartData.slice(1);
            let xValues = values.map(array => array[0]);

            seriesNames.forEach(function (name, index) {

                series.push({
                    name: name,
                    data: values.map(array => array[index+1]),
                });
            });

            this.mappedMetricChartDataSeries = series;
            this.mappedMetricChartXaxisCategories = xValues;

            this.mappedMetricChartOptions = {
                chart: {
                    stacked: this.metricChartStacked,
                    toolbar: {
                        show: false
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: this.metricChartHorizontal
                    }
                },
                dataLabels: {
                    enabled: false
                },
                xaxis: {
                    categories: xValues
                }
            };
        },

        editMetricDetail (index) {

            this.showMetricDetail = true;
            this.metricDetailIndex = index;

            // let detailData = [[]];
            // let detailHeaders = '';
            // let detailCellStyle = {};

            // if (this.metrics[index].detail) {
            //     detailData = this.metrics[index].detail.data;
            //     detailHeaders = this.metrics[index].detail.headers;
            //     detailCellStyle = this.metrics[index].detail.cellStyle;
            // }

            // this.metricDetailData = detailData;
            // this.metricDetailHeaders = detailHeaders;
            // this.metricDetailCellStyle = detailCellStyle;

            let detailData = '';

            if (this.metrics[index].detail) {
                detailData = this.metrics[index].detail.data;
            }

            this.metricDetailData = detailData;
        },

        updateMetricDetail () {

            let index = this.metricDetailIndex;

            // this.$refs.jexcel.emitInput();

            this.showMetricDetail = false;
            this.metricDetailIndex = null;

            if (!this.metrics[index].detail) {
                this.metrics[index].detail = {};
            }

            this.metrics[index].detail.data = this.metricDetailData;
            // this.metrics[index].detail.headers = this.metricDetailHeaders;
            // this.metrics[index].detail.cellStyle = this.metricDetailCellStyle;
        },

        updateMetricChart () {

            let index = this.metricChartIndex;

            this.showMetricChart = false;
            this.metricChartIndex = null;

            if (!this.metrics[index].chart) {
                this.metrics[index].chart = {};
            }
            
            this.metrics[index].chart.data = this.metricChartData.slice();
            this.metrics[index].chart.chart_type = this.metricChartType;
            this.metrics[index].chart.chart_stacked = this.metricChartStacked;
            this.metrics[index].chart.chart_horizontal = this.metricChartHorizontal;
        },

        storeMetricAction () {

            let isValid = this.$refs['ref_metric_select'].valid;

            if (!isValid) {
                return false;
            }

            this.show_metric_action_form = false;

            this.metricActionUpdateOrCreate(
                this.new_metric_action,
                this.metric_actions.length - 1
            );

            this.form_action = null;
            this.new_metric_action = {};
        },

        updateMetricAction () {

            let isValid = this.$refs['ref_metric_select'].valid;

            if (!isValid) {
                return false;
            }

            let index = this.form_edit_index;
            let new_metric_action = Object.assign(
                {}, this.new_metric_action
            );

            this.metricActionUpdateOrCreate(
                this.new_metric_action, index
            );

            this.form_action = null;
            this.form_edit_index = null
            this.show_metric_action_form = false;
        },

        metricActionUpdateOrCreate (metric_action, index) {

            let url = `${api_url}/metric-action/update-or-create`;
            let token = localStorage.getItem('token');

            let data = {
                metric_action: metric_action
            };

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    cycle_name: this.cycle_name,
                    week_id: this.week_id
                }
            };

            axios.post(url, data, config)

                .then(({ data }) => {

                    Swal.fire({
                        toast: true,
                        type: 'success',
                        title: 'CAPARA successfully saved.',
                        showConfirmButton: false,
                        timer: 3500,
                        position: 'bottom-start'
                    });

                    this.listMetricAction();
                })
                
                .catch(() => {

                    Swal.fire({
                        toast: true,
                        type: 'error',
                        title: 'Saving CAPARA Failed.',
                        showConfirmButton: false,
                        timer: 3500,
                        position: 'bottom-start'
                    });
                });;
        },

        newMetric () {
            return this.metric_model.reduce(
                (object, key) => Object.assign(
                    object, { [key]: null }
                ), {}
            );
        },

        showUserMetrics () {

            let url = `${api_url}/actions/showUserMetrics`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    week_id: this.week_id,
                    cycle_name: this.cycle_name
                }
            };

            axios.get(url, config)

                .then(response => {

                    let last_scoreboard_checkin = response.data.last_scoreboard_checkin;

                    this.metrics = response.data.metrics;
                    
                    this.metricsEdited = false;

                    if (!this.metrics.length) {
                        this.createMetric({});
                        this.showNewQuarterInfo();
                    }

                    // this.getWigTwoLagAverage();

                    if (!last_scoreboard_checkin) {
                        last_scoreboard_checkin = {};
                    }

                    this.notify_email_1 = last_scoreboard_checkin.notify_email_1;
                    this.notify_email_2 = last_scoreboard_checkin.notify_email_2;
                    this.notify_email_3 = last_scoreboard_checkin.notify_email_3;

                    this.compareToLocalStorage();
                });
        },

        listMetricAction () {

            let request_url = `${api_url}/new/metric-action`;
            
            let request_config = {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                },
                params: {
                    cycle_name: this.cycle_name,
                    week_id: this.week_id,
                    page: this.metric_action_list_current_page
                }
            };

            axios.get(request_url, request_config)
                
                .then(({ data }) => {

                    let response_data = data.data;

                    this.metric_lag_list = response_data.metric_lag_list;
                    this.metric_actions = response_data.metric_action_list;
                    this.metric_action_list_last_page = response_data.metric_action_list_meta.last_page
                    this.setBitrixUserItems(response_data.bitrix_user_list)
                });
        },

        setBitrixUserItems (bitrix_users) {

            bitrix_users.map(record => {

                if (!record.name) {
                    record.name = record.email;
                }

                return record;
            });

            this.bitrixUserItems = this.bitrixUserItems.concat(bitrix_users);
        },

        compareToLocalStorage () {

            let storage_metrics = localStorage.getItem(`metrics[${this.week_id}]`);
            let storage_metric_actions = localStorage.getItem(`metric_actions[${this.week_id}]`);

            if (!storage_metrics || !storage_metric_actions) {
                return;
            }

            Swal.fire({
                title: 'Your last entered data was not saved successfully.',
                text: 'Do you want to retrieve your last entered data, and save it?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                customClass: {
                    confirmButton: 'bg-dark',
                    cancelButton: 'bg-info'
                },
            }).then((result) => {

                if (result.value) {
                    this.metrics = JSON.parse(storage_metrics);
                    this.metric_actions = JSON.parse(storage_metric_actions);
                }
                else {
                    localStorage.removeItem(`metrics[${this.week_id}]`);
                    localStorage.removeItem(`metric_actions[${this.week_id}]`);
                }
            });
        },

        storeBatchMetricTracks (checkin) {

            let url = `${api_url}/actions/storeUserMetrics`;
            let token = localStorage.getItem('token');

            let data = {
                week_id: this.week_id,
                cycle_name: this.cycle_name,
                metrics: this.metrics
            };

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            if (this.$v.metrics.$invalid) {

                return Swal.fire({
                    type: 'warning',
                    title: 'Validation Error',
                    text: 'Target & Current Progress value must be numeric.'
                });
            }

            if (checkin) {
                data.checkin = true;
                data.notify_email_1 = this.notify_email_1;
                data.notify_email_2 = this.notify_email_2;
                data.notify_email_3 = this.notify_email_3;
            }

            let ref_metrics = this.metrics
                .map(metric => metric.ref_metric);

            if (new Set(ref_metrics).size != ref_metrics.length) {

                return Swal.fire({
                    type: 'error',
                    title: 'Error',
                    text: 'There is duplicate record.'
                });
            }
            
            localStorage.setItem(
                `metrics[${this.week_id}]`,
                JSON.stringify(this.metrics)
            );

            localStorage.setItem(
                `metric_actions[${this.week_id}]`,
                JSON.stringify(this.metric_actions)
            );

            if (checkin) {
                this.showScoreboardCheckin = false;
                this.show_feedback = true;
            }

            Swal.fire({
                toast: true,
                type: 'info',
                title: 'Saving metric updates',
                showConfirmButton: false,
                position: 'bottom-start'
            });

            axios.post(url, data, config)
                .then(response => {

                    this.metricsEdited = false;

                    localStorage.removeItem(`metrics[${this.week_id}]`);
                    localStorage.removeItem(`metric_actions[${this.week_id}]`);

                    this.listMetricAction();

                    if (checkin) {
                        this.storeScoreboardCheckinMail();
                    }

                    Swal.fire({
                        toast: true,
                        type: 'success',
                        title: 'Metric successfully saved',
                        showConfirmButton: false,
                        timer: 3500,
                        position: 'bottom-start'
                    });
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        type: 'error',
                        title: 'Something went wrong',
                        showConfirmButton: false,
                        timer: 3500,
                        position: 'bottom-start'
                    });
                });
        },
        
        storeScoreboardCheckinMail() {

            let url = `${api_url}/scoreboard-checkin-mail`;
            let token = localStorage.getItem('token');

            let data = {
                cycle_name: this.cycle_name,
                week_id: this.week_id
            };

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            let axios_post = axios.post(url, data, config);

            axios_post.then(response => {
                Swal.fire({
                    toast: true,
                    type: 'success',
                    title: 'Email successfully sent.',
                    showConfirmButton: false,
                    timer: 3500,
                    position: 'bottom-start'
                });
            });
        },

        getMetricNamePlaceholder (metric) {

            if (metric.type_code == 'lag') {
                return 'Verb, KRA X to Y by T';
            }

            return false;
        },

        goToPreviousWeek () {

            if (this.metricsEdited) {
                return Swal.fire({
                    title: 'Data may be lost',
                    text: 'Please save before you proceed to another week',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Proceed',
                    cancelButtonText: 'Back',
                    reverseButtons: true,
                    customClass: {
                        confirmButton: 'bg-dark',
                        cancelButton: 'bg-info'
                    },
                }).then((result) => {

                    if (result.value) {
                        this.ref_date = subWeeks(this.ref_date, 1);
                    }
                });
            }

            this.ref_date = subWeeks(this.ref_date, 1);
        },

        goToNextWeek () {

            if (this.metricsEdited) {
                return Swal.fire({
                    title: 'Data may be lost',
                    text: 'Please save before you proceed to another week',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Proceed',
                    cancelButtonText: 'Back',
                    reverseButtons: true,
                    customClass: {
                        confirmButton: 'bg-dark',
                        cancelButton: 'bg-info'
                    },
                }).then((result) => {

                    if (result.value) {
                        this.ref_date = addWeeks(this.ref_date, 1);
                    }
                });
            }

            this.ref_date = addWeeks(this.ref_date, 1);
        },

        getMetricActionResponsible (responsible) {

            let users = [];

            if (!responsible || !Array.isArray(responsible)) {
                return responsible;
            }

            responsible.forEach(function (record) {

                if (!record) {
                    return;
                }

                if (record.id) {

                    users.push(
                        `${record.name} ${record.last_name}` || record.email
                    );
                }
            });

            return users.join(', ');
        },

        getBitrixUserItems (value) {

            clearTimeout(this.timeout);

            this.timeout = setTimeout(() => {

                let url = `${api_url}/bitrix-user?query=${value}`;

                fetch(url).then(response => response.json())
                    .then(response => {

                        let { status, data } = response;
                        
                        data.map(record => {
                            if (!record.name) {
                                record.name = record.email;
                            }
                            return record;
                        });

                        this.bitrixUserItems = data;
                    });
            }, 500);
        },
        
        removeMetricActionResponsible (item) {
            
            let index = this.new_metric_action.responsible.findIndex(
                responsible => responsible.id == item.id
            );

            if (index > -1) {
                this.new_metric_action.responsible.splice(index, 1);
            }
        },

        scrollToStart: () => window.scrollTo(0, 0),
        scrollToEnd: () => window.scrollTo(0, document.body.scrollHeight),

        getLagNumber (metric_action) {

            let cycle_name = metric_action.cycle_name;
            let ref_metric = metric_action.ref_metric;

            let metric_lag_list = this.metric_lag_list
                .filter(metric_lag => metric_lag.cycle_name == cycle_name);

            if (!metric_lag_list) {
                return '';
            }

            let lag_index = metric_lag_list
                .findIndex(lag => lag.ref_metric == ref_metric);

            if (lag_index == -1) {
                return '-';
            }

            return lag_index + 1;
        }

        // progress_reports_values () {

        //     let self = this;

        //     let lag_count = 0;
        //     let lead_count = 0;
        //     let act_count = 0;

        //     let lag_pc_sum = 0;
        //     let lead_pc_sum = 0;
        //     let act_pc_sum = 0;

        //     let improved = 0;
        //     let unchanged = 0;
        //     let decreased = 0;

        //     this.metrics.forEach(function (element) {

        //         if (!element.type_code || ['wig', 'qact'].includes(element.type_code)) {
        //             return;
        //         }

        //         let start = 0;
        //         let percent = 0;
        //         let target = element.target_value || 100;
        //         let current = element.track_value || 0;
        //         let is_reverse = element.is_reverse_progress;

        //         if (start != target && !is_reverse) {
        //             percent = (current - start) / (target - start);
        //         }
                
        //         if (start != target && is_reverse) {
        //             start = 2 * target;
        //             percent = (start - current) / (start - target);
        //         }

        //         if (element.type_code == 'lag') {
        //             lag_count++;
        //             lag_pc_sum += percent;
        //         }

        //         if (element.type_code == 'lead') {
        //             lead_count++;
        //             lead_pc_sum += percent;
        //         }

        //         if (element.type_code == 'act') {
        //             act_count++;
        //             act_pc_sum += percent;
        //         }

        //         // let last_week_metric = self.last_week_metrics.find(compare => element.)
        //     });

        //     let lag_pc_avg = lag_count ? lag_pc_sum / lag_count : 0;
        //     let lead_pc_avg = lead_count ? lead_pc_sum / lead_count : 0;
        //     let act_pc_avg = act_count ? act_pc_sum / act_count : 0;

        //     let lag_pct_avg = (100 * lag_pc_avg).toFixed(2);
        //     let lead_pct_avg = (100 * lead_pc_avg).toFixed(2);
        //     let act_pct_avg = (100 * act_pc_avg).toFixed(2);

        //     return {
        //         lag_pct_avg: lag_pct_avg,
        //         lead_pct_avg: lead_pct_avg,
        //         act_pct_avg: act_pct_avg,
        //         improve: 0,
        //         unchanged: 0,
        //         decreased: 0
        //     };
        // }
    },

    computed: {

        week_id () {
            return getISOWeek(this.ref_date);
        },

        ref_date_quarter () {
            return getQuarter(this.ref_date);
        },

        ref_date_year () {
            return getYear(this.ref_date);
        },

        metric_model () {
            return [
                'ref_metric',
                'ref_wig',
                'ref_lag',
                'ref_lead',
                'ref_act',
                'ref_qact',
                'name',
                'type_id',
                'type_code',
                'target_unit',
                'track_value',
                'target_value'
            ];
        },

        metric_lags () {
            return this.metrics.filter(
                metric => metric.type_code == 'lag'
            );
        },

        metric_lag_list_filtered () {

            let cycle_name = this.new_metric_action.cycle_name;

            if (!cycle_name) {
                cycle_name = this.cycle_name;
            }

            return this.metric_lag_list.filter(
                metric_lag => metric_lag.cycle_name == cycle_name
            );
        },

        metrics_wigs () {
            return [
                {
                    ref_metric: 1,
                    ref_wig: 1,
                    type_id: 0,
                    type_code: 'wig',
                    name: ''
                },
                {
                    ref_metric: 2,
                    ref_wig: 2,
                    type_id: 0,
                    type_code: 'wig',
                    name: ''
                }
            ];
        },

        metric_types () {
            return [
                'wig', 'lag', 'lead', 'act', 'qact'
            ];
        },

        week_label () {
            return `Q${this.ref_date_quarter} W${this.week_id}`;
        },

        cycle_name () {
            return `${this.ref_date_year}-Q${this.ref_date_quarter}`;
        },

        todayDateString () {
            return format(new Date (), '[Today is], ddd, D MMM, [W]W');
        },

        wig_2_lag_average () {

        }
    },

    watch: {

        week_id: [
            'showUserMetrics',
            'listMetricAction'
        ],

        metricChartData: 'mapMetricChartData',
        metricChartStacked: 'mapMetricChartData',
        metricChartHorizontal: 'mapMetricChartData',

        metricsEdited () {

            globalMetricsEdited = this.metricsEdited
        },

        searchBitrixUser: 'getBitrixUserItems',

        metric_action_list_current_page: 'listMetricAction'
    }
}

</script>
