
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="card b-1">
                    <h3 class="card-title">
                        Login
                    </h3>
                    <div class="card-body">
                        <!--
                        <div style="margin: -6px -6px 0.5rem;">
                            <v-btn color="grey darken-4" outline>Login with Google</v-btn>
                        </div>
                        -->
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control"
                                v-model="login_data.email"/>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control"
                                type="password"
                                v-model="login_data.password"
                                v-on:keyup.enter="login"/>
                        </div>
                        <div class="form-check">
                            <input id="login_data_is_new" class="form-check-input" type="checkbox" v-model="login_data.is_new">
                            <label class="form-check-label fs-14 lh-1" for="login_data_is_new">
                                <span>First Time User</span>
                                <small class="form-text">
                                    Please enter new password to "Password" field
                                </small>
                            </label>
                        </div>
                    </div>
                    <footer class="card-footer bg-white text-right">
                        <button @click="login"
                            class="btn btn-bold btn-light text-dark b-1">
                            Login
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios';
import Swal from 'sweetalert2';
import LogRocket from 'logrocket';

let base_url = process.env.VUE_APP_BASE_URL;
let login_url = `${base_url}/login`;

export default {
    
    data: () => ({

        login_data: {
            email: '',
            password: '',
            is_new: false
        }
    }),

    methods: {

        login () {

            axios.post(login_url, this.login_data)
                .then(this.onLoginSuccess)
                .catch(this.onLoginError);
        },

        onLoginSuccess (response) {
            
            let data = response.data;

            localStorage.setItem('token', data.token);
            localStorage.setItem('is_admin', data.is_admin);
            localStorage.setItem('user.id', data.user.id);
            localStorage.setItem('user.name', data.user.name);
            localStorage.setItem('user.email', data.user.email);

            LogRocket.identify(data.user.id, {
                name: data.user.name,
                email: data.user.email,
            });

            this.$store.commit('updateUserName', data.user.name);
            this.$store.commit('updateIsAdmin', data.is_admin);
            
            let routeLocation = localStorage.getItem('route.location');

            if (routeLocation) {
                localStorage.removeItem('route.location');
                return this.$router.push(routeLocation);
            }

            return this.$router.push('/batch/metric-tracks/create');
        },

        onLoginError (error) {

            let text = '';

            if (!this.login_data.password) {
                text = 'Please tick "First Time User" and enter a new password.';
            }
            
            else {
                text = 'You have entered wrong password. Please try again.';
            }

            Swal.fire({
                type: 'error',
                title: 'Error',
                text: text
            });
        }
    },

    computed: {

    }
};

</script>
