
<template>
  <div>
    <v-card class="pa-1">
      <v-card-title class="px-2 py-2">
        <span>Metric Connector</span>
        <div class="flex-grow-1"></div>
        <v-btn @click.stop="create()"
          depressed>
          Create
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-simple-table class="w-full">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="w-1/12">Name</th>
              <th class="w-1/12">Cycle Name</th>
              <th class="w-1/3">My Metric</th>
              <th class="w-1/12">Source User</th>
              <th class="w-1/3">Source Metric</th>
              <th class="w-1/12"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in metric_connector_collection"
              :key="item.id">
              <td class="truncate" style="max-width: 1px;">{{ item.name }}</td>
              <td class="truncate" style="max-width: 1px;">{{ item.cycle_name }}</td>
              <td class="truncate" style="max-width: 1px;">{{ item.target_metric_name }}</td>
              <td class="truncate" style="max-width: 1px;">{{ item.source_user_name }}</td>
              <td class="truncate" style="max-width: 1px;">{{ item.source_metric_name }}</td>
              <td class="text-right">
                <div class="-mx-1 no-wrap">
                  <v-btn
                    class="mx-1"
                    @click.stop="edit(item)"
                    depressed
                    small>
                    Edit
                  </v-btn>
                  <v-btn
                    class="mx-1"
                    @click.stop="beforeDestroy(item)"
                    color="error"
                    depressed
                    small>
                    Delete
                  </v-btn>
                </div>
              </td>
            </tr>
            <tr v-if="!metric_connector_collection.length">
              <td colspan="6">No Record</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
    <v-dialog
      v-model="show_form"
      max-width="600px"
      persistent>
      <v-card>
        <v-card-title>
          <span>Metric Connector</span>
        </v-card-title>
        <v-card-text>
          <v-row class="-my-3">
            <v-col cols="12">
              <v-text-field
                v-model="edit_item.name"
                label="Name"
                hide-details>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="edit_item.cycle_name"
                label="Cycle Name"
                hide-details
                readonly>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="edit_item.target_ref_metric"
                label="My Metric"
                hide-details
                item-text="name"
                item-value="ref_metric"
                :items="target_metric_collection">
              </v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="edit_item.source_user_id"
                cache-items
                label="Source User"
                hide-details
                :items="source_user_collection"
                item-text="email"
                item-value="id"
                :search-input.sync="
                  source_user_collection_search_input
                ">
              </v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-select
                v-model="edit_item.source_ref_metric"
                label="Source Metric"
                hide-details
                item-text="name"
                item-value="ref_metric"
                :items="source_metric_collection">>
              </v-select>
            </v-col>
          </v-row>
          <v-row></v-row>
        </v-card-text>
        <v-card-actions class="px-4 pb-4">
          <div class="flex-grow-1"></div>
          <v-btn class="px-4"
            @click="cancelCreateOrEdit"
            color="secondary"
            depressed>
            <span>Cancel</span>
          </v-btn>
          <v-btn class="px-4"
            @click="submitCreateOrEdit"
            color="primary"
            depressed>
            <span>Submit</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {

  data: () => ({

    user_id: null,

    api_base_url: null,
    api_token: null,

    show_form: false,

    source_metric_collection: [],
    target_metric_collection: [],

    source_user_collection: [],
    source_user_collection_loading: false,
    source_user_collection_search_input: '',

    edit_item: {},
    edit_item_index: -1,
    metric_connector_collection: [],

    default_edit_item: {
      cycle_name: '2020-Q1'
    }
  }),

  mounted () {

    this.api_base_url = api_url;

    this.user_id = localStorage.getItem('user.id');
    this.api_token = localStorage.getItem('token');

    this.getMetricConnectorCollection();
    this.getTargetMetricCollection();
  },

  methods: {

    getApiUrl (url) {
      return this.api_base_url + '/' + url;
    },

    getApiConfig () {
      return {
        headers: {
          Authorization: 'Bearer ' + this.api_token
        }
      };
    },

    async getMetricConnectorCollection () {

      let url = this.getApiUrl('new/metric-aggregate');
      let config = this.getApiConfig();
      let response = await axios.get(url, config);

      let { status, data, meta } = response.data;

      this.metric_connector_collection = data.metric_aggregate_list;
      this.source_user_collection = data.source_user_collection;
    },

    async getTargetMetricCollection () {

      let url = this.getApiUrl('new/metric');
      let config = this.getApiConfig();

      let cycle_name = this.default_edit_item.cycle_name;

      config.params = {
        user_id: this.user_id,
        cycle_name: cycle_name
      };

      let response = await axios.get(url, config);
      let { status, data, meta } = response.data;

      this.target_metric_collection = data.collection;
    },

    async getSourceMetricCollection () {

      let url = this.getApiUrl('new/metric');
      let config = this.getApiConfig();

      let cycle_name = this.default_edit_item.cycle_name;

      config.params = {
        user_id: this.edit_item.source_user_id,
        cycle_name: cycle_name
      };

      let response = await axios.get(url, config);
      let { status, data, meta } = response.data;

      this.source_metric_collection = data.collection;
    },

    create () {
      this.edit_item = Object.assign({}, this.default_edit_item);
      this.show_form = true;
      this.form_action = 'create';
    },

    edit (item) {
      this.edit_item = Object.assign({}, item);
      this.show_form = true;
      this.form_action = 'edit';
    },

    cancelCreateOrEdit () {
      this.show_form = false;
    },

    submitCreateOrEdit () {
      return this.form_action == 'create'
        ? this.store()
        : this.form_action == 'edit'
        ? this.update()
        : null;
    },

    async store () {

      let url = this.getApiUrl('new/metric-aggregate');
      let config = this.getApiConfig();
      let data = this.edit_item;

      this.show_form = false;

      let response = await axios.post(url, data, config);

      this.edit_item = {};

      Swal.fire({
        toast: true,
        type: 'success',
        title: 'Metric connector is successfully created.',
        showConfirmButton: false,
        timer: 3500,
        position: 'bottom-start'
      });

      this.getMetricConnectorCollection();
    },

    async update () {

      this.show_form = false;

      await axios.patch(
        this.getApiUrl(`new/metric-aggregate/${this.edit_item.id}/edit`),
        this.edit_item,
        this.getApiConfig()
      );

      this.edit_item = {};

      Swal.fire({
        toast: true,
        type: 'success',
        title: 'Metric Connector successfully updated.',
        showConfirmButton: false,
        timer: 3500,
        position: 'bottom-start'
      });

      this.getMetricConnectorCollection();
    },

    async beforeDestroy (item) {

      let result = await Swal.fire({
        title: 'Warning',
        text: 'Are you sure you want to delete this Metric Connector.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        reverseButtons: true,
        customClass: {
          confirmButton: 'bg-danger',
          cancelButton: 'bg-dark'
        }
      });

      return result.value
        ? this.destroy(item)
        : null;
    },

    async destroy (item) {

      await axios.delete(
        this.getApiUrl(`new/metric-aggregate/${item.id}`),
        this.getApiConfig()
      );

      Swal.fire({
        toast: true,
        type: 'success',
        title: 'Metric Connector is successfully deleted.',
        showConfirmButton: false,
        timer: 3500,
        position: 'bottom-start'
      });

      this.getMetricConnectorCollection();
    },

    getSourceUserCollection () {

      let url = this.getApiUrl('new/user');
      let config = this.getApiConfig();

      this.source_user_collection_loading = true;

      config.params = {
        search: this.source_user_collection_search_input
      };

      clearTimeout(this.source_user_collection_timeout);

      let getSourceUserCollection = async () => {

        let response = await axios.get(url, config);
        let { status, data, meta } = response.data;

        this.source_user_collection = data.user_list;
        this.source_user_collection_loading = false;
      };

      this.source_user_collection_timeout = setTimeout(
        getSourceUserCollection, 500
      );
    }
  },

  watch: {

    source_user_collection_search_input: 'getSourceUserCollection',
    'edit_item.source_user_id': 'getSourceMetricCollection'
  }
};

</script>
