
<template>
  <div class="printing-area max-w-full">
    <div class="flex flex-wrap -mx-2 mb-2 -mt-2 p-1">
      <div class="w-6/12 p-1">
        <v-text-field
          label="Name"
          :value="user.name"
          filled
          hide-details>
        </v-text-field>
      </div>
      <div class="w-6/12 p-1">
        <v-text-field
          label="Print Datetime"
          :value="print_datetime"
          filled
          hide-details>
        </v-text-field>
      </div>
      <div class="w-6/12 p-1">
        <v-text-field
          label="Email"
          :value="user.email"
          filled
          hide-details>
        </v-text-field>
      </div>
      <div class="w-6/12 p-1">
        <v-text-field
          label="Scoreboard"
          :value="`${cycle_name} W${max_week}`"
          filled
          hide-details>
        </v-text-field>
      </div>
    </div>
    <h1 class="headline mb-2 px-1">
      <span>[WIG] </span>
      <span>{{ selected_wig.name }}</span>
    </h1>
    <template v-for="metric in selected_wig_metric_list">
      <div class="metric-container mb-8" :key="metric.ref_metric">
        <h1 class="title mb-2 px-1 whitespace-pre-wrap">
          <span class="capitalize">{{ `[${metric.type_code}] ` }}</span>
          <span>{{ metric.name }}</span>
          <span
            v-if="metric.is_reverse_progress">
            (Reverse Progress)
          </span>
        </h1>
          <v-card class="mb-4" outlined>
              <v-simple-table>
                <tbody>
                  <tr>
                    <td>Week #</td>
                    <td class="text-center"
                      v-for="(track, index) in metric.tracks"
                      :key="index">
                      {{ track.week_id }}
                    </td>
                  </tr>
                  <tr>
                    <td>Progress</td>
                    <td class="text-center"
                      v-for="(track, index) in metric.tracks"
                      :key="index">
                      {{ track.track_value || '-' }}
                    </td>
                  </tr>
                  <tr>
                    <td>Target</td>
                    <td class="text-center"
                      v-for="(track, index) in metric.tracks"
                      :key="index">
                      {{ track.target_value || '-' }}
                    </td>
                  </tr>
                  <tr>
                    <td>Achievement (%)</td>
                    <td class="text-center"
                      v-for="(track, index) in metric.tracks"
                      :key="index">
                      {{ getMetricTrackPercentage(metric, track) }}
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
          </v-card>
          <v-card class="mb-4"
            v-if="metric.chart
            && metric.chart.xaxisCategories
            && metric.chart.xaxisCategories.length > 0"
            outlined>
            <v-card-text>
              <div style="margin: 15px auto 0; max-width: 800px;">
                <VueApexCharts
                    height="300px"
                    :options="getMetricChartOption(metric)"
                    :type="metric.chart.chart_type"
                    :series="metric.chart.series">
                </VueApexCharts>
              </div>
            </v-card-text>
          </v-card>
          <div class="metric-detail px-2"
            v-if="metric.detail && metric.detail.data"
            style="white-space: pre-wrap;"
            v-html="metric.detail.data">
          </div>
      </div>
    </template>
  </div>
</template>

<script>

import VueApexCharts from 'vue-apexcharts';
import { format } from 'date-fns';

export default {

  components: {
    VueApexCharts
  },

  data: () => ({

    api_base_url: null,
    api_token: null,

    max_week: null,
    user: {},
    print_datetime: null,
    metric_list: []
  }),

  mounted () {

    this.api_base_url = api_url;
    this.api_token = localStorage.getItem('token');

    this.printScoreboard();
  },

  methods: {

    getApiUrl (url) {
      return `${this.api_base_url}/${url}`;
    },

    getApiConfig () {
      return {
        headers: {
          Authorization: `Bearer ${this.api_token}`
        }
      };
    },

    async printScoreboard() {

      this.print_datetime = format(
        new Date(), 'YYYY-MM-DD HH:mm:ss'
      );
      
      await this.getMetricList();
      setTimeout(() => window.print(), 1000);
    },

    async getMetricList () {

      let url = this.getApiUrl('scoreboard');
      let config = this.getApiConfig();

      config.params = {
        user_id: this.user_id,
        cycle_name: this.cycle_name
      };

      let response = await axios.get(url, config);

      let data = response.data;

      this.user = data.user;
      this.max_week = data.max_week;

      this.metric_list = this.fixMetricListChart(data.metrics);
    },

    fixMetricListChart (metric_list) {

      metric_list.forEach(function (metric) {
                
        if (!metric.chart) {
          return;
        }

        let series = [];

        let parseChartData = JSON.parse(metric.chart.data);

        let seriesNames = parseChartData[0].slice(1);
        let values = parseChartData.slice(1);
        let xValues = values.map(array => array[0]);

        seriesNames.forEach(function (name, index) {

          series.push({
            name: name,
            data: values.map(array => array[index+1]),
          });
        });

        metric.chart.series = series;
        metric.chart.xaxisCategories = xValues;
      });

      return metric_list;
    },

    getMetricTrackPercentage (metric, track) {

      let progress_percentage = 0;

      if (track.track_value === null || track.target_value === null) {
        return '-';
      }

      if (track.target_value === 0) {
        return '-';
      }

      if (track.is_reverse_progress) {
        progress_percentage = 100
          * (2 * track.target_value - track.track_value)
          / track.target_value;
      }

      if (!track.is_reverse_progress) {
        progress_percentage = 100
          * track.track_value
          / track.target_value;
      }

      return `${ progress_percentage.toFixed(0) }%`;
    },

    getMetricChartOption (metric) {
      return {
        chart: {
          stacked: metric.chart.chart_stacked
        },
        plotOptions: {
          bar: {
            horizontal: metric.chart.chart_horizontal
          }
        },
        xaxis: {
          categories: metric.chart.xaxisCategories
        }
      }
    }
  },

  computed: {

    selected_ref_wig () {

      let wig_list = this.metric_list.filter(
        metric => metric.type_code == 'wig'
      );

      let wig_index = this.wig_number - 1;

      if (wig_list.length < wig_index) {
        return -1;
      }

      return wig_list[wig_index].ref_wig;
    },

    selected_wig () {

      let selected_wig = this.metric_list.find(
        metric => metric.ref_metric == this.selected_ref_wig
      );

      if (!selected_wig) {
        return {};
      }

      return selected_wig;
    },

    selected_wig_metric_list () {
      return this.metric_list.filter(
        metric => metric.ref_wig == this.selected_ref_wig
          && metric.type_code != 'wig'
      );
    },

    user_id () {
      return this.$route.query.user_id;
    },

    cycle_name () {
      return this.$route.query.cycle_name;
    },

    metric_list_params () {
      return {
        user_id: this.user_id,
        cycle_name: this.cycle_name
      };
    },

    wig_number () {
      return parseInt(this.$route.query.wig_number) || 1;
    },
  },

  watch: {

    metric_list_params: {
      deep: true,
      handler: function () {
        this.printScoreboard();
      }
    }
  }
}
</script>

<style>

.metric-detail table {
  border-collapse: collapse;
  display: block;
  max-width: 100%;
}

.metric-detail th,
.metric-detail td {
  border: 1px solid #dddddd;
}

.metric-detail > * {
  margin-left: 0 !important;
  text-indent: 0 !important;
}

.metric-detail p[data-f-id="pbf"] {
  display: none;
}

</style>