
<template>
  <div>
    <v-row class="px-3">
      <v-col class="px-1" cols="2">
        <v-text-field
          :value="week_id"
          label="Week"
          dense
          filled
          readonly
          hide-details>
          <template v-slot:append>
            <div class="d-flex mx-n1">
              <v-btn class="mx-1"
                color="primary"
                :disabled="week_id <= 1"
                @click="week_id = week_id - 1"
                icon
                small>
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
              <v-btn class="mx-1"
                color="primary"
                :disabled="week_id >= 52"
                @click="week_id = week_id + 1"
                icon
                small>
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </div>
          </template>
        </v-text-field>
      </v-col>
      <v-col class="px-1" cols="2">
        <v-select
          :items="user_group_list"
          label="Group"
          item-value="group_id"
          :item-text="item => `${item.business_unit} - ${item.name}`"
          v-model="selected_user_group_id"
          clearable
          dense
          filled
          hide-details>
        </v-select>
      </v-col>
    </v-row>
    <v-card outlined>
      <v-simple-table>
        <thead>
          <tr>
            <th>
              <div>Name</div>
              <div class="d-inline font-medium">
                <span>Double click on group name to view user list</span>
              </div>
            </th>
            <th class="text-center">Checked In</th>
            <th class="text-center">Target</th>
            <th class="text-center">Checked In %</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-orange-200"
            v-if="selected_user_group_id">
            <td class="font-weight-normal">
              {{ report_aggregate.name }}
            </td>
            <td class="font-weight-normal text-center">
              {{ report_aggregate.checked_in }}
            </td>
            <td class="font-weight-normal text-center">
              {{ report_aggregate.target }}
            </td>
            <td class="font-weight-normal text-center">
              <v-chip dark
                :color="getAverageCheckedInColor(report_aggregate.average_checked_in)">
                {{ `${report_aggregate.average_checked_in} %` }}
              </v-chip>
            </td>
          </tr>
          <tr v-if="!report_collection.length">
            <td colspan="4">No Record</td>
          </tr>
          <tr v-for="record in report_collection"
            :key="record.id"
            @dblclick="setSelectedUserGroupId(record.id)">
            <td>{{ record.name }}</td>
            <td class="text-center">{{ record.checked_in }}</td>
            <td class="text-center">{{ record.target }}</td>
            <td class="text-center">
              <v-chip dark
                :color="getAverageCheckedInColor(record.average_checked_in)">
                {{ `${record.average_checked_in} %` }}
              </v-chip>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-card>
  </div>
</template>

<script>

export default {
  
  data: () => ({

    token: null,
    api_url: api_url,

    week_id: null,
    report_aggregate: {},
    report_collection: [],

    user_group_list: [],
    
    selected_user_group_id: null,
  }),

  mounted () {

    this.token = localStorage.getItem('token');
    this.getReportScoreboardSubmission();
  },

  methods: {

    setSelectedUserGroupId (id) {

      if (this.selected_user_group_id) {
        return;
      }

      return this.selected_user_group_id = id;
    },

    getReportScoreboardSubmission () {

      let requestURL = `${this.api_url}/report/scoreboard-submissions`;

      let requestConfig = {
        headers: this.requestHeaders,
        params: {
          week_id: this.week_id,
          user_group_id: this.selected_user_group_id
        }
      };

      axios.get(requestURL, requestConfig).then(
        ({ data }) => {

          let response_data = data.data;

          this.week_id = parseInt(response_data.week_id);
          this.report_aggregate = response_data.report_aggregate;
          this.report_collection = response_data.report_collection;
          this.user_group_list = response_data.user_group_list;
        }
      );
    },

    getAverageCheckedInColor (average_checked_in) {

      return average_checked_in <= 50 ? 'red' :
        average_checked_in <= 90 ? 'orange' :
        average_checked_in <= 100 ? 'green' :
        average_checked_in > 100 ? 'blue' :
        null;
    }
  },

  computed: {

    requestHeaders () {
      return {
        Authorization: `Bearer ${this.token}`
      };
    },
  },

  watch: {
    week_id: 'getReportScoreboardSubmission',
    reportPage: 'getReportScoreboardSubmission',
    selected_user_group_id: 'getReportScoreboardSubmission'
  },
}

</script>
