
<template>
    <div>
        <v-row>
            <v-col cols="2">
                <v-select
                    label="Group"
                    item-value="id"
                    :items="user_groups"
                    :item-text="item => `${item.business_unit} - ${item.name}`"
                    v-model="selected_user_group_id"
                    dense
                    filled
                    hide-details>
                </v-select>
            </v-col>
        </v-row>
        <v-card class="p-1" outlined>
            <v-simple-table>
                <thead>
                    <tr>
                        <th class="bb-1" rowspan="2">
                            <div>Name</div>
                            <div class="font-medium">
                                <span>Click on name to view scoreboard</span>
                            </div>
                        </th>
                        <th class="text-right" colspan="2">
                            <div>Avg WIG 2 Lags %</div>
                        </th>
                        <th class="text-right" colspan="2">
                            <div>Avg WIG 2 Leads %</div>
                        </th>
                        <th class="text-right" colspan="2">
                            <div>Avg WIG 2 Acts %</div>
                        </th>
                        <th class="bb-1 text-right" rowspan="2">
                            <div>CAPA Open</div>
                        </th>
                        <th class="bb-1 text-right" rowspan="2">
                            <div>CAPA Complete</div>
                        </th>
                        <th class="bb-1 text-right" rowspan="2">
                            <div>Recognition Made</div>
                        </th>
                    </tr>
                    <tr>
                        <th class="h-auto text-right pb-4 pr-2">
                            5 Week Trend
                        </th>
                        <th class="h-auto text-right pb-4 pl-2">
                            {{ `W${selected_week}` }}
                        </th>
                        <th class="h-auto text-right pb-4 pr-2">
                            5 Week Trend
                        </th>
                        <th class="h-auto text-right pb-4 pl-2">
                            {{ `W${selected_week}` }}
                        </th>
                        <th class="h-auto text-right pb-4 pr-2">
                            5 Week Trend
                        </th>
                        <th class="h-auto text-right pb-4 pl-2">
                            {{ `W${selected_week}` }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in collection" :key="item.id">
                        <td>
                            <router-link
                                :to="`/scoreboard/?user_id=${item.id}`"
                                target="_blank">
                                {{ item.name }}
                            </router-link>
                        </td>
                        <td class="text-right pr-2">
                            <VACSparkline
                                type="bar"
                                width="30"
                                height="32"
                                :yaxis_min="0"
                                :yaxis_max="100"
                                :series="getSeries(item.WIG2LAG)">
                            </VACSparkline>
                        </td>
                        <td class="w-px text-right pl-2">
                            <v-chip outlined :color="getColor(item.WIG2LAG)">
                                {{ getLastPercentage(item.WIG2LAG) }}
                            </v-chip>
                        </td>
                        <td class="text-right pr-2">
                            <VACSparkline
                                type="bar"
                                width="30"
                                height="32"
                                :yaxis_min="0"
                                :yaxis_max="100"
                                :series="getSeries(item.WIG2LEAD)">
                            </VACSparkline>
                        </td>
                        <td class="w-px text-right pl-2">
                            <v-chip outlined :color="getColor(item.WIG2LEAD)">
                                {{ getLastPercentage(item.WIG2LEAD) }}
                            </v-chip>
                        </td>
                        <td class="text-right pr-2">
                            <VACSparkline
                                type="bar"
                                width="30"
                                height="32"
                                :yaxis_min="0"
                                :yaxis_max="100"
                                :series="getSeries(item.WIG2ACT)">
                            </VACSparkline>
                        </td>
                        <td class="w-px text-right pl-2">
                            <v-chip outlined :color="getColor(item.WIG2ACT)">
                                {{ getLastPercentage(item.WIG2ACT) }}
                            </v-chip>
                        </td>
                        <td class="text-right">
                            <v-chip outlined>
                                {{ getLast(item.CAPA_OPEN) }}
                            </v-chip>
                        </td>
                        <td class="text-right">
                            <v-chip outlined>
                                {{ getLast(item.CAPA_COMPLETE) }}
                            </v-chip>
                        </td>
                        <td class="text-right">
                            <v-chip outlined>
                                {{ getLast(item.RECOGNITION) }}
                            </v-chip>
                        </td>
                    </tr>
                    <tr v-if="!collection.length">
                        <td colspan="10">No Data</td>
                    </tr>
                </tbody>
            </v-simple-table>
        </v-card>
    </div>
</template>

<script>

import { getISODay, getISOWeek } from 'date-fns';
import VACSparkline from '@/components/VACSparkline.vue';

let date = new Date();

export default {

    components: {
        VACSparkline
    },

    data: () => ({

        user_groups: [],
        selected_user_group_id: null,
        selected_week: null,
        last_update_date: null,

        headers: [
            { text: 'Name', value: 'name' },
            { text: 'Lags %', value: 'wig2lags' },
            { text: 'Leads %', value: 'wig2leads' },
            { text: 'Acts %', value: 'wig2acts' }
        ],
        
        collection: []
    }),

    mounted () {

        this.setSelectedWeek();
        this.getCollection();
    },

    methods: {

        setSelectedWeek () {

            let date = new Date();
            let date_iso_day = getISODay(date);
            let date_iso_week = getISOWeek(date);

            return this.selected_week = date_iso_day >= 5
                ? date_iso_week
                : date_iso_week - 1;
        },

        getCollection () {

            let url = `${api_url}/report/progress-summary`;

            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`,
                },
                params: {
                    week: this.selected_week,
                    user_group_id: this.selected_user_group_id
                }
            };

            let axios_get = axios.get(url, config);

            axios_get.then(({ data }) => {
                this.collection = data.collection;
                this.user_groups = data.user_groups;
                this.selected_user_group_id = parseInt(data.user_group_id);
                this.last_update_date = data.last_update_date;
            });
        },

        getSeries (values) {

            let data = values.map(
                element => parseInt(element * 100)
            );

            return [{ data: data }];
        },

        getLast (values) {
            return values[values.length - 1];
        },

        getLastPercentage (values) {

            let last = parseInt(this.getLast(values) * 100);

            if (!last) {
                return 'N/A';
            }

            return `${last} %`;
        },

        getColor (values) {

            let value = this.getLast(values);

            return value <= 50
                ? 'red'
                : value <= 90
                ? 'orange'
                : value <= 100
                ? 'green'
                : value > 100
                ? 'blue'
                : null;
        }
    },

    watch: {
        selected_user_group_id: 'getCollection'
    }
}

</script>

