
<template>
	<div class="mb-2">
		<div class="-mx-2">
			<div class="flex flex-wrap p-1">
				<div class="sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 p-1">
					<v-autocomplete
						v-model="selected_business_unit"
						@change="onBusinessUnitSelected"
						:items="business_unit_options"
						dense
						filled
						hide-details
						label="BU/CU">
					</v-autocomplete>
				</div>
				<div class="sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 p-1">
					<v-autocomplete
						v-model="selected_group"
						@change="onGroupSelected"
						dense
						filled
						hide-details
						:items="group_options"
						label="Group">
					</v-autocomplete>
				</div>
				<div class="sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 p-1">
					<v-autocomplete
						v-model="cycle_name"
						dense
						filled
						hide-details
						:items="cycle_list"
						label="Cycle">
					</v-autocomplete>
				</div>
			</div>
			<div class="flex flex-wrap p-1">
				<div class="sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 p-1">
					<v-autocomplete
						v-model="selected_user"
						dense
						filled
						hide-details
						:items="filtered_users"
						item-text="name"
						item-value="id"
						label="User">
					</v-autocomplete>
				</div>
				<div class="sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 p-1">
					<v-autocomplete
						v-model="lag_page"
						@change="action_page = 1"
						ref="lag_page_select"
						:items="lag_list"
						dense
						filled
						hide-details
						label="Lag">
						<template v-slot:append>
							<div class="flex -mx-1">
								<v-btn class="mx-1"
									@click.stop="selectPreviousLag()"
									color="primary"
									:disabled="lag_page == 1"
									icon
									small>
									<v-icon>mdi-chevron-left</v-icon>
								</v-btn>
								<v-btn class="mx-1"
									@click.stop="selectNextLag()"
									color="primary"
									:disabled="lag_page == lag_list.length"
									icon
									small>
									<v-icon>mdi-chevron-right</v-icon>
								</v-btn>
							</div>
						</template>
					</v-autocomplete>
				</div>
				<div class="sm:w-6/12 md:w-5/12 lg:w-4/12 xl:w-3/12 p-1">
					<div class="flex">
						<div>
							<label class="fs-12 mb-1">Layout</label>
							<div>
								<v-btn-toggle v-model="layout_type">
									<v-btn small value="2-col">
										<v-icon>mdi-numeric-2</v-icon>
									</v-btn>
									<v-btn small value="3-col">
										<v-icon>mdi-numeric-3</v-icon>
									</v-btn>
									<v-btn small value="4-col">
										<v-icon>mdi-numeric-4</v-icon>
									</v-btn>
								</v-btn-toggle>
							</div>
						</div>
						<div class="ml-2" style="padding-top: 18px;">
							<v-chip outlined>{{ `Week ${max_week}` }}</v-chip>
						</div>
						<div class="ml-2" style="padding-top: 14px;">
							<v-btn @click="printScoreboard(1)"
								depressed>
								<span>Wig 1</span>
								<v-icon right small>mdi-printer</v-icon>
							</v-btn>
						</div>
						<div class="ml-2" style="padding-top: 14px;">
							<v-btn @click="printScoreboard(2)"
								depressed>
								<span>Wig 2</span>
								<v-icon right small>mdi-printer</v-icon>
							</v-btn>
						</div>
						<div class="ml-2" style="padding-top: 14px;">
							<v-btn @click="downloadLagAsCsv()"
								depressed>
								<span>Lags</span>
								<v-icon right small>mdi-export</v-icon>
							</v-btn>
						</div>
					</div>
				</div>
				<div ref="scroll-target"></div>
			</div>
			<div class="p-2">
				<div class="font-normal red--text" style="font-size: 13px;">
					Click on chart to show performance history.
				</div>
				<!--
				<div class="font-normal red--text" style="font-size: 13px;">
					To print wig 2 metrics, please use Chrome browser and click on printer icon
				</div>
				-->
			</div>
		</div>
		<div class="mb-2 mt-1">
			<div class="title" v-if="selectedLag.wig">
				<span>{{ selectedLag.wig.name }}</span>
			</div>
		</div>
		<div class="mb-2">
			<div class="flex flex-wrap -m-1">
				<div
					class="p-1 sm:w-full"
					v-if="selectedLag"
					:class="{
						'md:w-1/2': layout_type == '2-col',
						'md:w-1/3': layout_type == '3-col',
						'md:w-1/4': layout_type == '4-col'
					}"
				>
					<div class="card b-1 mb-0">
						<div class="card-title lh-0 px-3 fw-400">
							<span>Lag</span>
						</div>
						<div class="card-body p-0 h-500px" style="overflow-y: auto;">
							<div class="card card-body p-2 b-1 m-2 bg-pale-info">
								<div class="row gap-1 gap-y">
									<div class="col-8">
										<div class="row gap-1 gap-y">
											<div class="col-12">
												<span style="white-space: pre-wrap;">{{ selectedLag.name }}</span>
											</div>
											<div class="col-6 fs-14 fw-400">
												<span>{{ getLatestValue(selectedLag.tracks) }}</span>
											</div>
											<div class="col-6 fs-14 fw-400">
												<span :class="getLatestColor(selectedLag)">
													{{ getLatestPercentage(selectedLag) }}%
												</span>
											</div>
										</div>
									</div>
									<div class="col-4" @click="showDetail(selectedLag)">
										<VACSparkline
											type="bar"
											:width="100"
											:height="55"
											:series="getMetricSeries(selectedLag)">
										</VACSparkline>
									</div>
								</div>
							</div>
							<div class="card card-body p-2 b-1 m-2"
								v-if="selectedLag.chart
									&& selectedLag.chart.xaxisCategories
									&& selectedLag.chart.xaxisCategories.length > 0">
								<VueApexCharts
									height="300px"
									:options="getMetricChartOptions(selectedLag)"
									:type="selectedLag.chart.chart_type"
									:series="selectedLag.chart.series">
								</VueApexCharts>
							</div>
							<div class="metric-detail m-2"
								style="white-space: pre-wrap;"
								v-if="selectedLag.detail && selectedLag.detail.data"
								v-html="selectedLag.detail.data">
							</div>
						</div>
					</div>
				</div>
				<div
					class="p-1 sm:w-full"
					v-for="(lead, index) in selectedLag.leads"
					:key="lead.id"
					:class="{
						'md:w-1/2': layout_type == '2-col',
						'md:w-1/3': layout_type == '3-col',
						'md:w-1/4': layout_type == '4-col'
					}"
				>
					<div class="card b-1 mb-0">
						<div class="card-title lh-0 px-3 fw-400">
							<span>Lead {{ index + 1 }}</span>
						</div>
						<div class="card-body p-0 h-500px" style="overflow-y: auto;">
							<div class="card card-body p-2 b-1 m-2 bg-pale-pink">
								<div class="row gap-1 gap-y">
									<div class="col-8">
										<div class="row gap-1 gap-y">
											<div class="col-12">
												<span style="white-space: pre-wrap;">{{ lead.name }}</span>
											</div>
											<div class="col-6 fs-14 fw-400">
												<span>{{ getLatestValue(lead.tracks) }}</span>
											</div>
											<div class="col-6 fs-14 fw-400">
												<span :class="getLatestColor(lead)">
													{{ getLatestPercentage(lead) }}%
												</span>
											</div>
										</div>
									</div>
									<div class="col-4" @click="showDetail(lead)">
										<VACSparkline
											type="bar"
											:width="100"
											:height="55"
											:series="getMetricSeries(lead)">
										</VACSparkline>
									</div>
								</div>
							</div>
							<div class="card card-body p-2 b-1 m-2"
								v-if="lead.chart
									&& lead.chart.xaxisCategories
									&& lead.chart.xaxisCategories.length > 0">
								<VueApexCharts
									height="300px"
									:options="getMetricChartOptions(lead)"
									:type="lead.chart.chart_type"
									:series="lead.chart.series">
								</VueApexCharts>
							</div>
							<div class="metric-detail m-2"
								style="white-space: pre-wrap;"
								v-if="lead.detail && lead.detail.data"
								v-html="lead.detail.data">
							</div>
							<div v-for="act in lead.acts" :key="act.id">
								<div class="card card-body p-2 b-1 m-2"
									:class="{ 'bg-pale-yellow': act.type_code == 'act', 'bg-pale-secondary': act.type_code == 'qact' }">
									<div class="row gap-1 gap-y">
										<div class="col-8">
											<div class="row gap-1 gap-y">
												<div class="col-12">
													<span style="white-space: pre-wrap;">{{ act.name }}</span>
												</div>
												<div class="col-6 fs-14 fw-400">
													<span>{{ getLatestValue(act.tracks) }}</span>
												</div>
												<div class="col-6 fs-14 fw-400">
													<span :class="getLatestColor(act)">
														{{ getLatestPercentage(act) }}%
													</span>
												</div>
											</div>
										</div>
										<div class="col-4" @click="showDetail(act)">
											<VACSparkline
												type="bar"
												:width="100"
												:height="55"
												:series="getMetricSeries(act)">
											</VACSparkline>
										</div>
									</div>
								</div>
								<div class="card card-body p-2 b-1 m-2"
									v-if="act.chart
										&& act.chart.xaxisCategories
										&& act.chart.xaxisCategories.length > 0">
									<VueApexCharts
										height="300px"
										:options="getMetricChartOptions(act)"
										:type="act.chart.chart_type"
										:series="act.chart.series">
									</VueApexCharts>
								</div>
								<div class="metric-detail m-2"
									style="white-space: pre-wrap;"
									v-if="act.detail && act.detail.data"
									v-html="act.detail.data">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="card b-1 mb-2">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>CFR Review / Lesson Learned</th>
							<th>CAPARA</th>
							<th>Accountable</th>
							<th>Responsible</th>
							<th>Deadline</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="record in actionsFiltered" :key="record.id">
							<td style="white-space: pre-wrap;">{{ record.issue }}</td>
							<td style="white-space: pre-wrap;">
								<v-chip v-if="record.status == 2"
									class="px-2"
									color="success"
									label
									small>
									Done
								</v-chip>
								{{ record.capa }}
							</td>
							<td style="white-space: pre-wrap;">{{ record.accountable }}</td>
							<td>{{ getMetricActionResponsible(record.responsible) }}</td>
							<td style="white-space: pre-wrap;">{{ record.deadline }}</td>
						</tr>
						<tr v-if="!actionsFiltered.length">
							<td colspan="5">No Data</td>
						</tr>
					</tbody>
				</table>
			</div>
			<paginate
				v-model="action_page"
				container-class="pagination"
				page-class="page-item"
				page-link-class="page-link"
				prev-class="page-item"
				prev-link-class="page-link"
				next-class="page-item"
				next-link-class="page-link"
				:page-count="Math.ceil(lagActions.length/5)"
				:click-handler="page => action_page = page">
			</paginate>
		</div>
		<v-dialog v-model="visibleMetricDetail" max-width="600px">
			<v-card>
				<v-toolbar flat>
					<v-toolbar-title>Performance History</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn @click="visibleMetricDetail = false" icon>
						<v-icon>mdi-close</v-icon>
					</v-btn>
				</v-toolbar>
				<v-divider></v-divider>
				<v-card-text class="py-3">
					<highcharts
						:series-list="metricDetailsChartSeries"
						:xaxis-categories="metricDetailChartOptions.xaxis.categories"
						show-line-data-labels
						title-text="">
					</highcharts>
				</v-card-text>
			</v-card>
		</v-dialog>
		<div class="fixed z-10 bottom-0 right-0">
			<div class="flex flex-col py-1 px-2">
				<v-btn
					class="my-1"
					fab
					small
					dark
					color="green darken-2"
					@click="scrollToStart()">
					<v-icon>mdi-chevron-up</v-icon>
				</v-btn>
				<v-btn
					class="my-1"
					fab
					small
					dark
					color="green darken-2"
					@click="scrollToEnd()">
					<v-icon>mdi-chevron-down</v-icon>
				</v-btn>
			</div>
		</div>
	</div>
</template>

<script>

import ApexCharts from '@/components/ApexCharts.vue';
import BootstrapSelect from '@/components/BootstrapSelect.vue';
import BSModal from '@/components/BSModal.vue';
import Highcharts from '@/components/Highcharts.vue';
import Multiselect from 'vue-multiselect';
import Paginate from 'vuejs-paginate';
// import Sparklines from '@/components/Sparklines.vue';
import VACSparkline from '@/components/VACSparkline.vue'
import VueApexCharts from 'vue-apexcharts';
import { getISODay, getISOWeek, getQuarter, getYear, setDay, subWeeks } from 'date-fns';
import Papa from 'papaparse';

export default {

	components: {
		ApexCharts,
		BootstrapSelect,
		BSModal,
		Highcharts,
		Multiselect,
		Paginate,
		// Sparklines,
		VACSparkline,
		VueApexCharts
	},

	data: () => ({

		layout_type: '3-col',

		cycle_list: [
			{ text: '2019 Q3', value: '2019-Q3' },
			{ text: '2019 Q4', value: '2019-Q4' },
			{ text: '2020 Q1', value: '2020-Q1' },
			{ text: '2020 Q2', value: '2020-Q2' },
			{ text: '2020 Q3', value: '2020-Q3' },
		],

		metrics: [],
		metric_actions: [],

		group_users: [],

		users: [],
		user_groups: [],
		business_unit_options: [],
		group_options: [],
		filtered_users: [],

		selected_user: localStorage.getItem('user.id'),
		selected_user_object: {},
		selected_business_unit: null,
		selected_group: null,

		max_week: null,

		lag_page: 1,
		action_page: 1,

		metricDetailChartOptions: {
			chart: {
				toolbar: {
					show: false
				}
			},
			plotOptions: {
				bar: {
					dataLabels: {
						position: 'top'
					}
				}
			},
			stroke: {
				width: 5
			},
			xaxis: {
				categories: []
			}
		},

		metricDetailsChartSeries: [],

		visibleMetricDetail: false,

		ref_date: null,

		cycle_name: null
	}),

	mounted () {

		if (this.query_user_id) {
			this.selected_user = this.query_user_id;
		}

		this.setRefDate();
		this.loadGroupUsers();
		this.loadScoreboard();
	},

	methods: {

		setRefDate () {

			let date = new Date();
			let today = getISODay(date);
			let sunday = setDay(date, 7);

			if (today < 5) {
				sunday = subWeeks(sunday, 1);
			}

			this.ref_date = sunday;

			this.setCycleName();
		},

		setCycleName () {

			let ref_date_quarter = getQuarter(this.ref_date);;
			let ref_date_year = getYear(this.ref_date);

			this.cycle_name = `${ref_date_year}-Q${ref_date_quarter}`;
		},

		loadGroupUsers () {

			let self = this;
			let url = `${api_url}/group-users`;
			let token = localStorage.getItem('token');

			let config = {
				headers: {
					Authorization: `Bearer ${token}`
				}
			};

			axios.get(url, config).then(response => {
				
				let business_unit_options = ['All'];
				
				this.users = response.data.users;
				this.user_groups = response.data.user_groups;

				business_unit_options.push(
					...this.user_groups.map(
						record => record.business_unit
					)
				);

				this.selected_business_unit = 'All';
				this.business_unit_options = [...new Set(business_unit_options)];

				this.onBusinessUnitSelected();
				this.onGroupSelected();

				this.selected_user_object = this.users.find(function (user) {
					return user.id == self.selected_user;
				});
			});
		},

		loadScoreboard () {

			let url = `${api_url}/scoreboard`;
			let token = localStorage.getItem('token');
			
			let config = {
				headers: {
					Authorization: `Bearer ${token}`
				},
				params: {
					user_id: this.selected_user,
					cycle_name: this.cycle_name,
					week_id: this.week_id
				}
			};

			axios.get(url, config)
				.then(response => {
					this.lag_page = 1;
					this.metrics = this.fixMetricChart(response.data.metrics);
					this.metric_actions = response.data.metric_actions;
					this.max_week = response.data.max_week;
				});
		},

		fixMetricChart (metrics) {

			metrics.forEach(function (metric) {
				
				if (!metric.chart) {
					return;
				}

				let series = [];

				let parseChartData = JSON.parse(metric.chart.data);

				let seriesNames = parseChartData[0].slice(1);
				let values = parseChartData.slice(1);
				let xValues = values.map(array => array[0]);

				seriesNames.forEach(function (name, index) {

					series.push({
						name: name,
						data: values.map(array => array[index+1]),
					});
				});

				metric.chart.series = series;
				metric.chart.xaxisCategories = xValues;
			});

			return metrics;
		},

		getMetricChartOptions (metric) {

			return {

				chart: {
					stacked: metric.chart.chart_stacked
				},

				plotOptions: {
					bar: {
						horizontal: metric.chart.chart_horizontal
					}
				},

				xaxis: {
					categories: metric.chart.xaxisCategories
				}
			}
		},

		getLatestValue (tracks) {

			if (!tracks) {
				tracks = [];
			}

			let lastTrack = tracks.find(
				track => track.week_id == this.max_week
			);

			if (!lastTrack) {
				return 'N/A';
			}

			let numerator = tracks.length
				? lastTrack.track_value || 0
				: 0;

			let denominator = tracks.length
				? lastTrack.target_value || 100
				: 100;

			return `${numerator} / ${denominator}`;
		},

		getLatestPercentage (metric) {

			let isReverseProgress = metric.is_reverse_progress;

			let tracks = metric.tracks || [];

			if (tracks.length == 0) {
				return 0;
			}

			let lastTrack = tracks.find(
				track => track.week_id == this.max_week
			);

			if (!lastTrack) {
				return 'N/A';
			}

			let start = 0;
			let target = lastTrack.target_value || 100;
			let current = lastTrack.track_value || 0;
			let progress = 0;

			if (start != target && !isReverseProgress) {
				progress = (current - start) / (target - start);
			}

			if (start != target && isReverseProgress) {
				start = 2 * target;
				progress = (start - current) / (start - target);
			}

			return (100 * progress).toFixed(0);
		},

		getLatestColor (metric) {

			let latestPercentage = this.getLatestPercentage(metric);

			if (latestPercentage <= 50) {
				return 'red--text';
			}

			if (latestPercentage <= 90) {
				return 'orange--text';
			}

			if (latestPercentage <= 100) {
				return 'green--text';
			}

			return 'blue--text';
		},

		getMetricSeries (metric) {

			let isReverseProgress = metric.is_reverse_progress;

			let tracks = metric.tracks || [];

			let data = tracks.map(function (track) {

				let start = 0;
				let target = track.target_value;
				let current = track.track_value;
				let progress = 0;

				if (start != target && !isReverseProgress) {
					progress = (current - start) / (target - start);
				}

				if (start != target && isReverseProgress) {
					start = 2 * target;
					progress = (start - current) / (start - target);
				}

				return parseInt(100 * progress);
			});

			if (data.length == 1) {
				data.unshift(0);
			}

			return [{ data: data }];
		},

		showDetail (metric) {

			let xaxis_categories = metric.tracks.map(function (track) {
				return track.week_id;
			});

			let series_track = metric.tracks.map(function (track) {
				return track.track_value;
			});

			let series_target = metric.tracks.map(function (track) {
				return track.target_value;
			});

			let series = [
				{
					data: series_track,
					dataLabels: {
						enabled: true,
						inside: true
					},
					name: 'Track',
					type: 'column'
				},
				{
					data: series_target,
					dataLabels: {
						enabled: true
					},
					name: 'Target',
					type: 'line'
				}
			];

			let metricDetailChartOptions = Object.assign({}, this.metricDetailChartOptions);

			metricDetailChartOptions.xaxis.categories = xaxis_categories;
			
			this.metricDetailChartOptions = metricDetailChartOptions;
			this.metricDetailsChartSeries = series;
			this.visibleMetricDetail = true;
		},

		onBusinessUnitSelected (selected, id) {

			let self = this;

			let group_options = ['All'];

			if (!selected) {
				selected = this.selected_business_unit;
			}

			let filtered_user_groups = this.user_groups.filter(function (user_group) {

				if (selected == 'All') {
					return true;
				}

				return user_group.business_unit == selected;
			});

			group_options.push(
				...filtered_user_groups.map(
					user_group => user_group.name
				)
			);

			this.selected_business_unit = selected;
			this.selected_group = 'All';
			this.group_options = group_options;
			this.onGroupSelected();
		},

		onGroupSelected (selected, id) {

			let self = this;

			let user_groups = this.user_groups.slice();

			if (!selected) {
				selected = this.selected_group;
			}

			user_groups = user_groups.filter(function (user_group) {

				if (self.selected_business_unit == 'All') {
					return true;
				}

				return user_group.business_unit == self.selected_business_unit;
			});

			user_groups = user_groups.filter(function (user_group) {

				if (selected == 'All') {
					return true;
				}

				return user_group.name == selected;
			});

			let user_ids = [];

			user_groups.forEach(function (user_group) {
				user_ids.push(
					...user_group.pivot_users.map(
						pivot => pivot.user_id
					)
				);
			});

			let users = this.users.filter(function (user) {
				return user_ids.includes(user.id);
			});

			this.filtered_users = users;
		},

		getMetricActionResponsible (responsible) {

			let users = [];

			if (!responsible || !Array.isArray(responsible)) {
				return responsible;
			}

			responsible.forEach(function (record) {

				if (record && record.id) {

					users.push(
						`${record.name} ${record.last_name}`
					)
				}
			});

			return users.join(', ');
		},

		async printScoreboard (wig_number) {

			let alert = await Swal.fire({
				type: 'info',
				title: 'To use print scoreboard feature, please use Chrome browser for better experience.'
			});

			let route = this.$router.resolve({
				path: 'print-scoreboard',
				query: {
					user_id: this.selected_user,
					cycle_name: this.cycle_name,
					wig_number: wig_number
				}
			});

			window.open(route.href, '_blank')
		},

		downloadLagAsCsv () {

			let wig_collection = this.metrics.filter(
				document => document.type_code == 'wig'
			);

      let first_ref_wig = -1;
      let second_ref_wig = -1;

      if (wig_collection.length > 0) {
        first_ref_wig = wig_collection[0].ref_wig;
      }
      
      if (wig_collection.length > 1) {
        second_ref_wig = wig_collection[1].ref_wig;
      }

			let lag_collection = this.metrics.filter(
				document => document.type_code == 'lag'
			);

      let data_collection = [];

      let lag_number = 1;
      let lag_number_reset = false;

			lag_collection.forEach(
        
        (lag_document, index) => {

					let lag_achievement = 0;

          let lag_track_collection = lag_document.tracks;

          let lag_track = {};
          
          if (lag_track_collection.length) {
            lag_track = lag_track_collection[
              lag_track_collection.length - 1
            ];
          }

          if (lag_track.is_reverse_progress) {
						lag_achievement = 100
							* (2 * lag_track.target_value - lag_track.track_value)
              / lag_track.target_value
					}

					if (!lag_track.is_reverse_progress) {
            lag_achievement = 100
              * lag_track.track_value
              / lag_track.target_value;
          }

          let wig_number = -1;

          if (lag_document.ref_wig == first_ref_wig) {
            wig_number = 1;
          }

          if (lag_document.ref_wig == second_ref_wig) {
            wig_number = 2;
          }

          if(!lag_number_reset && wig_number == 2) {
            lag_number = 1;
            lag_number_reset = true;
          }

          let data_document = {
            'WIG': wig_number,
            'LAG #': lag_number,
						'Name': lag_document.name,
						'Achivement (%)': lag_achievement.toFixed(0)
          };
          
          lag_number++;

					data_collection.push(
						data_document
					);
				}
      );
      
      let data_csv = Papa.unparse(data_collection);

      var csvData = new Blob([data_csv], {type: 'text/csv;charset=utf-8;'});
      var csvURL = window.URL.createObjectURL(csvData);
      var tempLink = document.createElement('a');
      tempLink.href = csvURL;
      tempLink.setAttribute('download', this.cycle_name + ' LAG Data.csv');
      tempLink.click();
		},

		selectPreviousLag () {
			this.lag_page = this.lag_page - 1;
			this.$refs.lag_page_select.blur();
		},

		selectNextLag () {
			this.lag_page = this.lag_page + 1;
			this.$refs.lag_page_select.blur();
		},

		scrollToStart () {

			let element = this.$refs['scroll-target'];
			let top = element.offsetTop;

			console.log(element);

			window.scrollTo(0, top);
		},

		scrollToEnd: () => window.scrollTo(0, document.body.scrollHeight),
	},

	computed: {

		color_map: () => ({
			':50': '#f96868',
			'51:90': '#f2a654',
			'91:100': '#46be8a',
			'101:': '#48b0f7'
		}),

		actionsFiltered () {

			let page = this.action_page;

			let index_min = 5 * (page - 1);
			let index_max = 5 * page - 1;

			return this.lagActions.filter(
				(record, index) => index >= index_min && index <= index_max
			);
		},

		optionsGroupUsers () {
			return this.group_users.map(
				value => ({
					label: value.name,
					value:value.id
				})
			);
		},

		lagsTree () {
			
			let wigs = [];
			let lagsTree = [];
			let metricMap = {};

			this.metrics.forEach(function (metric) {

				if (metric.type_code == 'wig') {
					metricMap[metric.ref_metric] = wigs.length;
					return wigs.push(
            JSON.parse(JSON.stringify(metric))
          );
				}

				if (metric.type_code == 'lag') {
					metricMap[metric.ref_metric] = lagsTree.length;
					return lagsTree.push(
            JSON.parse(JSON.stringify(metric))
          );
				}

				if (metric.type_code == 'lead') {

					let lag_index = metricMap[metric.ref_lag];
					
					if (!lagsTree[lag_index].hasOwnProperty('leads')) {
						lagsTree[lag_index].leads = [];
					}

					metricMap[metric.ref_metric] = lagsTree[lag_index].leads.length;
					return lagsTree[lag_index].leads.push(
            JSON.parse(JSON.stringify(metric))
          );
				}

				if (metric.type_code == 'act' || metric.type_code == 'qact') {

					let lag_index = metricMap[metric.ref_lag];
					let lead_index = metricMap[metric.ref_lead];

					if (!lagsTree[lag_index].leads[lead_index].hasOwnProperty('acts')) {
						lagsTree[lag_index].leads[lead_index].acts = [];
					}

					lagsTree[lag_index].leads[lead_index].acts.push(
            JSON.parse(JSON.stringify(metric))
          );
				}
			});

			lagsTree.forEach(function (metric) {
				let wig_index = metricMap[metric.ref_wig];
				metric.wig = JSON.parse(JSON.stringify(wigs[wig_index]));
			});

			return lagsTree;
		},

		refLags () {
			return this.lagsTree.map(lag => lag.ref_metric);
		},

		lag_list () {

			return this.refLags
				.map((ref_metric, index) => ({
					text: `Lag ${index + 1}`,
					value: index + 1
				}));
		},

		selectedLag () {

			let selectedLag = this.lagsTree[
				this.lag_page - 1
			];

			return selectedLag ? selectedLag : [];
		},

		lagActions () {

			let selectedLag = this.lagsTree[
				this.lag_page - 1
			];

			let selectedLagMetrics = this.metrics.filter(
				metric => metric.ref_lag == this.selectedLag.ref_metric
			);

			let ref_metrics = selectedLagMetrics.map(
				metric => metric.ref_metric
			);

			return this.metric_actions.filter(
				record => ref_metrics.includes(record.ref_metric)
			);
		},

		query_user_id () {
			return this.$route.query.user_id;
		},

		week_id () {
			return getISOWeek(this.ref_date);
		}
	},

	watch: {

		cycle_name: 'loadScoreboard',

		selected_user: 'loadScoreboard',

		query_user_id (query_user_id) {
			return this.selected_user = query_user_id;
		},

		selected_user_object (selected_user_object) {

			if (!selected_user_object) {
				return;
			}

			return this.selected_user = selected_user_object.id;
		}
	}
}

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>

.metric-detail table {
	border-collapse: collapse;
	display: block;
	max-width: 100%;
}

.metric-detail th,
.metric-detail td {
	border: 1px solid #dddddd;
}

.metric-detail > * {
	margin-left: 0 !important;
	text-indent: 0 !important;
}

p {
	white-space: pre-wrap;
	margin-bottom: 0;
}

p[data-f-id="pbf"] {
	display: none;
}

</style>
