
<template>
  <div>
    <v-card class="pa-1">
      <v-card-title class="px-3 py-2">
        <span>Scoreboard Review</span>
        <div class="flex-grow-1"></div>
        <v-btn depressed @click.stop="show_edit_form = true">
          Create
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th>Requested By</th>
              <th>Reviewed By</th>
              <th>Cycle</th>
              <th>Requested At</th>
              <th>Reviewed At</th>
              <th class="text-center">Status</th>
              <th class="w-0"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in scoreboard_review_list"
              :key="item.id">
              <td>
                <router-link
                  target="_blank"
                  :to="`/scoreboard?user_id=${item.requested_by}`">
                  {{ item.requested_by_name }}
                </router-link>
              </td>
              <td>{{ item.reviewed_by_name }}</td>
              <td>{{ item.cycle_name }}</td>
              <td>{{ item.requested_at }}</td>
              <td>{{ item.reviewed_at }}</td>
              <td class="text-center">
                <v-chip
                  class="font-medium text-lowercase"
                  :color="
                    item.status == 'approved'
                      ? 'success'
                      : item.status == 'rejected'
                      ? 'error'
                      : 'warning'
                  "
                  small>
                  {{
                    item.status == 'approved'
                      ? 'Approved'
                      : item.status == 'rejected'
                      ? 'Rejected'
                      : 'Pending'
                  }}
                </v-chip>
              </td>
              <td class="text-right whitespace-no-wrap">
                <div class="mx-n1">
                  <v-btn
                    class="py-3 mx-1"
                    v-if="!item.status && item.requested_by == user_id"
                    @click.stop="beforeDestroy(item)"
                    depressed
                    x-small>
                    <span>Abort</span>
                  </v-btn>
                  <v-btn
                    class="py-3 mx-1"
                    @click.stop="showReviewForm(item)"
                    depressed
                    x-small>
                    <span>Review</span>
                  </v-btn>
                </div>
              </td>
            </tr>
            <tr v-if="!scoreboard_review_list.length">
              <td colspan="6">No Record</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
    <div class="my-2">
      <v-pagination
        total-visible="7"
        v-model="scoreboard_review_current_page"
        :length="scoreboard_review_last_page">
      </v-pagination>
    </div>
    <v-dialog v-model="show_edit_form"
      max-width="600px"
      persistent>
      <v-card tile>
        <v-card-title>
          <span>Scoreboard Review</span>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Cycle"
                v-model="edit_item.cycle_name"
                hide-details
                readonly>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="edit_item.requested_by"
                cache-items
                label="Requested By"
                hide-details
                item-text="email"
                item-value="id"
                :items="user_list"
                readonly>
              </v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-autocomplete
                v-model="edit_item.reviewed_by"
                cache-items
                label="Reviewed By"
                hide-details
                item-text="email"
                item-value="id"
                :items="user_list"
                :loading="user_list_loading"
                :search-input.sync="user_list_search_input">
              </v-autocomplete>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="px-4 pb-4">
          <div class="flex-grow-1"></div>
          <v-btn class="px-4"
            color="secondary"
            @click="cancelStore"
            depressed>
            <span>Cancel</span>
          </v-btn>
          <v-btn class="px-4"
            color="primary"
            @click="store"
            depressed>
            <span>Submit</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="show_review_form"
      max-width="600px">
      <v-card tile>
        <v-card-title>
          <span>Scoreboard Review</span>
        </v-card-title>
        <v-card-text>
          <v-textarea
            v-model="review_item.comment"
            label="Comment"
            hide-details
            :readonly="!!review_item.status"
            rows="5">
          </v-textarea>
        </v-card-text>
        <v-card-actions class="px-4 pb-4">
          <div class="flex-grow-1"></div>
          <v-btn class="px-4"
            @click.stop="hideReviewForm()"
            color="secondary"
            depressed>
            <span>Cancel</span>
          </v-btn>
          <v-btn class="px-4"
            v-if="!review_item.status
              && review_item.reviewed_by == user_id"
            @click="reject"
            color="error"
            depressed>
            <span>Reject</span>
          </v-btn>
          <v-btn class="px-4"
            v-if="!review_item.status
              && review_item.reviewed_by == user_id"
            @click="approve"
            color="success"
            depressed>
            <span>Approve</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {

  data: () => ({

    user_id: null,

    api_base_url: null,
    api_token: null,

    show_edit_form: false,
    show_review_form: false,

    user_list: [],
    user_list_loading: false,
    user_list_search_input: null,

    get_user_list_timeout: null,

    scoreboard_review_list: [],

    scoreboard_review_current_page: 1,
    scoreboard_review_last_page: 1,

    edit_item: {
      cycle_name: '2020-Q3',
      requested_by: null,
      reviewed_by: null,
    },

    review_item: {

    }
  }),

  mounted () {

    this.api_base_url = api_url;

    this.user_id = localStorage.getItem('user.id');
    this.api_token = localStorage.getItem('token');
  
    this.addUserToUserList();
    this.edit_item.requested_by
      = parseInt(localStorage.getItem('user.id'));

    this.getScoreboardReviewList();
  },

  methods: {

    getApiUrl (url) {
      return `${this.api_base_url}/${url}`;
    },

    getApiConfig () {
      return {
        headers: {
          Authorization: `Bearer ${this.api_token}`
        }
      };
    },

    addUserToUserList () {

      let user = {
        id: parseInt(localStorage.getItem('user.id')),
        email: localStorage.getItem('user.email')
      };

      this.user_list.push(
        user
      );
    },

    getUserList () {

      let url = this.getApiUrl('new/user');
      let config = this.getApiConfig();

      this.user_list_loading = true;

      config.params = {
        search: this.user_list_search_input
      };

      clearTimeout(this.get_user_list_timeout);

      let getUserList = async () => {

        let response = await axios.get(url, config);
        let { status, data, meta } = response.data;

        this.user_list = data.user_list;
        this.user_list_loading = false;
      };

      this.get_user_list_timeout = setTimeout(
        getUserList, 500
      );
    },

    async getScoreboardReviewList () {

      let url = this.getApiUrl('scoreboard-review');
      let config = this.getApiConfig();

      config.params ={
        page: this.scoreboard_review_current_page
      };

      let response = await axios.get(url, config);
      let { status, data, meta } = response.data;

      this.scoreboard_review_list = data.scoreboard_review_list;
      this.scoreboard_review_last_page = meta.scoreboard_review_list.last_page;
    },

    cancelStore () {

      this.show_edit_form = false;
    },

    async store () {

      let url = this.getApiUrl('scoreboard-review');
      let config = this.getApiConfig();
      let data = this.edit_item;
      
      this.show_edit_form = false;

      Swal.fire({
        toast: true,
        type: 'warning',
        title: 'Scoreboard review is processing.',
        showConfirmButton: false,
        timer: 3500,
        position: 'bottom-start'
      });

      await axios.post(
        url, data, config
      );

      Swal.fire({
        toast: true,
        type: 'success',
        title: 'Scoreboard review is successfully submitted.',
        showConfirmButton: false,
        timer: 3500,
        position: 'bottom-start'
      });

      this.getScoreboardReviewList();
    },

    async beforeDestroy (item) {
      
      let result = await Swal.fire({
        title: 'Warning',
        text: 'Are you sure you want to abort this scoreboard review request.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        reverseButtons: true,
        customClass: {
          confirmButton: 'bg-danger',
          cancelButton: 'bg-dark'
        }
      });

      if (result.value ) {

        return this.destroy(item);
      }
    },

    async destroy (item) {

      let url = this.getApiUrl('scoreboard-review/' + item.id);
      let config = this.getApiConfig();

      await axios.delete(url, config);

      Swal.fire({
        toast: true,
        type: 'success',
        title: 'Scoreboard review is successfull deleted.',
        showConfirmButton: false,
        timer: 3500,
        position: 'bottom-start'
      });

      this.getScoreboardReviewList();
    },

    showReviewForm (item) {
      
      this.review_item = Object.assign({}, item);
      this.show_review_form = true
    },

    hideReviewForm () {

      this.review_item = {};
      this.show_review_form = false;
    },

    async approve (item) {

      let data = this.review_item;
      let url = this.getApiUrl(`scoreboard-review/${data.id}/approve`);
      let config = this.getApiConfig();

      await axios.patch(url, data, config);

      this.hideReviewForm();
      this.getScoreboardReviewList();
    },

    async reject (item) {

      let data = this.review_item;
      let url = this.getApiUrl(`scoreboard-review/${data.id}/reject`);
      let config = this.getApiConfig();
      
      await axios.patch(url, data, config);

      this.hideReviewForm();
      this.getScoreboardReviewList();
    }
  },

  watch: {

    user_list_search_input: 'getUserList',
    scoreboard_review_current_page: 'getScoreboardReviewList'
  }
}

</script>