<template>
    <div>
        <div class="title">
            <span>{{ wig.name }}</span>
        </div>
        <div class="mb-2" style="margin: auto -0.25rem auto">
            <div class="d-inline-block w-250px mx-1">
                <multiselect
                    placeholder="BU/CU"
                    :allow-empty="false"
                    :options="business_unit_options"
                    @select="onBusinessUnitSelected"
                    v-model="selected_business_unit">
                </multiselect>
            </div>
            <div class="d-inline-block w-250px mx-1">
                <multiselect
                    placeholder="Group"
                    :allow-empty="false"
                    :options="group_options"
                    @select="onGroupSelected"
                    v-model="selected_group">
                </multiselect>
            </div>
            <div class="d-inline-block w-250px mx-1">
                <multiselect
                    label="name"
                    track-by="id"
                    placeholder="User"
                    :options="filtered_users"
                    v-model="selected_user_object">
                </multiselect>
            </div>
            <div class="btn btn-primary btn-bold btn-outline mx-1"
                @click="cycle_name = '2019-Q3'"
                :class="{ active: cycle_name == '2019-Q3' }">
                <span>2019-Q3</span>
            </div>
            <div class="btn btn-primary btn-bold btn-outline mx-1"
                @click="cycle_name = '2019-Q4'"
                :class="{ active: cycle_name == '2019-Q4' }">
                <span>2019-Q4</span>
            </div>
            <div class="btn btn-primary btn-bold btn-outline mx-1"
                @click="cycle_name = '2020-Q1'"
                :class="{ active: cycle_name == '2020-Q1' }">
                <span>2020-Q1</span>
            </div>
            <div class="btn btn-primary btn-bold btn-outline mx-1"
                @click="cycle_name = '2020-Q2'"
                :class="{ active: cycle_name == '2020-Q2' }">
                <span>2020-Q2</span>
            </div>
            <div class="btn btn-primary btn-bold btn-outline mx-1"
                @click="cycle_name = '2020-Q3'"
                :class="{ active: cycle_name == '2020-Q3' }">
                <span>2020-Q3</span>
            </div>
            <div class="btn btn-dark btn-bold btn-pure mx-1 px-1">
                {{ `Week ${max_week}` }}
            </div>
            <button class="btn btn-bold btn-light mx-1"
                :class="{ active: selected_lag_index == index }"
                v-for="(lag_value, index) in lag_values" :key="lag_value"
                @click="selected_lag_index = index">
                LAG {{ index + 1}}
            </button>
        </div>
        <!--
        <v-select box
            class="elevation-2"
            label="Period"
            hide-details
            item-text="period"
            :menu-props="{ 'content-class': 'elevation-3'}"
            v-model="selected_period"
            :items="period_list">
        </v-select>
        <v-select box
            label="Staff"
            hide-details
            clearable
            item-text="name"
            :menu-props="{ 'content-class': 'elevation-3'}"
            v-model="selected_staff"
            :items="staff_list">
        </v-select>
        -->
        <div class="row gap-1 gap-y">
            <div class="col-md-6">
                <div class="card b-1 mb-0">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-right w-1px">#</th>
                                <th class="min-w-200px">Lag / Lead Measures</th>
                                <th class="text-right w-1px">&nbsp;</th>
                                <th class="text-right w-1px">%</th>
                                <th class="text-right w-100px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="metric in metricsLagLead" :key="metric.id">
                                <td class="text-right w-1px">{{ metric.map_no }}</td>
                                <td :class="{ 'bg-pale-warning': metric.type_code == 'lag' }">
                                    <div :class="{ 'link' : metric.detail && metric.detail.data }" @click="showMetricDetail(metric)">
                                        <span style="white-space: pre-wrap;">{{ metric.name }}</span>
                                    </div>
                                </td>
                                <td class="text-right no-wrap fs-14 fw-400">
                                    {{ getLatestValue(metric.tracks) }}
                                </td>
                                <td class="text-right no-wrap fs-14 fw-400"
                                    :class="getLatestColor(metric)">
                                    {{ getLatestPercentage(metric) }}
                                </td>
                                <td>
                                    <VACSparkline
                                        type="bar"
                                        :width="100"
                                        :height="55"
                                        :series="getMetricSeries(metric)">
                                    </VACSparkline>
                                </td>
                            </tr>
                            <tr v-if="!metricsLagLead.length">
                                <td colspan="5">No Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card b-1 mb-0">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="text-right w-1px">#</th>
                                <th class="min-w-200px">Action Measures</th>
                                <th class="text-right w-1px">&nbsp;</th>
                                <th class="text-right w-1px">%</th>
                                <th class="text-right w-100px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="metric in metricsActQact" :key="metric.id">
                                <td class="text-right w-1px">{{ metric.map_no }}</td>
                                <td :class="{ 'bg-pale-warning': metric.type_code == 'act' }">
                                    <!-- 
                                    <span style="white-space: pre-wrap;">
                                        {{ metric.name }}
                                    </span>
                                    -->
                                    <!--
                                    <button class="btn btn-bold btn-xs btn-dark ml-2"
                                        @click="showMetricDetail(metric)"
                                        v-if="metric.detail">
                                        Detail
                                    </button>
                                    -->
                                    <div :class="{ 'link' : metric.detail && metric.detail.data }" @click="showMetricDetail(metric)">
                                        <span style="white-space: pre-wrap;">{{ metric.name }}</span>
                                    </div>
                                </td>
                                <td class="text-right no-wrap fs-14 fw-400">
                                    {{ getLatestValue(metric.tracks) }}
                                </td>
                                <td class="text-right no-wrap fs-14 fw-400"
                                    :class="getLatestColor(metric)">
                                    {{ getLatestPercentage(metric) }}
                                </td>
                                <td>
                                    <VACSparkline
                                        type="bar"
                                        :width="100"
                                        :height="55"
                                        :series="getMetricSeries(metric)">
                                    </VACSparkline>
                                </td>
                            </tr>
                            <tr v-if="!metricsActQact.length">
                                <td colspan="5">No Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div class="card b-1 mb-2">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>CFR Review / Lesson Learned</th>
                                <th>CAPARA</th>
                                <th>Accountable</th>
                                <th>Responsible</th>
                                <th>Deadline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="record in lagActionsFiltered" :key="record.id">
                                <td style="white-space: pre-wrap;">{{ record.issue }}</td>
                                <td style="white-space: pre-wrap;">{{ record.capa }}</td>
                                <td style="white-space: pre-wrap;">{{ record.accountable }}</td>
                                <td>{{ getMetricActionResponsible(record.responsible) }}</td>
                                <td style="white-space: pre-wrap;">{{ record.deadline }}</td>
                            </tr>
                            <tr v-if="!lagActionsFiltered.length">
                                <td colspan="5">No Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <paginate
                    container-class="pagination"
                    page-class="page-item"
                    page-link-class="page-link"
                    prev-class="page-item"
                    prev-link-class="page-link"
                    next-class="page-item"
                    next-link-class="page-link"
                    :page-count="cfr_count"
                    :click-handler="goToCFRPage">
                </paginate>
            </div>
        </div>
        <BSModal title="Metric Detail"
            :show.sync="showingMetricDetail">
            <div class="metric-detail" v-html="metricDetailData"></div>
        </BSModal>
    </div>
</template>

<script>

import BSModal from '@/components/BSModal.vue';
import BootstrapSelect from '@/components/BootstrapSelect.vue';
import JExcel from '@/components/JExcel.vue';
import Multiselect from 'vue-multiselect';
import Paginate from 'vuejs-paginate';
// import Sparklines from '@/components/Sparklines.vue';
import VACSparkline from '@/components/VACSparkline.vue';
import { getISODay, getISOWeek, getQuarter, getYear, setDay, subWeeks } from 'date-fns';

export default {

    name: 'Scorecard',

    components: {
        BootstrapSelect,
        BSModal,
        JExcel,
        Multiselect,
        // Sparklines,
        Paginate,
        VACSparkline
    },

    data: () => ({

        color_map: {
            ':50': '#f96868',
            '51:90': '#f2a654',
            '91:100': '#46be8a',
            '101:': '#48b0f7'
        },

        period_list: [],
        users: [],
        user_groups: [],
        business_unit_options: [],
        group_options: [],
        filtered_users: [],
        selected_lag_index: 0,
        selected_cfr_page: 1,

        selected_user: localStorage.getItem('user.id'),
        selected_user_object: {},
        selected_business_unit: null,
        selected_group: null,

        metrics: [],
        metric_actions: [],

        max_week: null,

        showingMetricDetail: false,
        metricDetailData: null,
        metricDetailHeaders: null,
        metricDetailCellStyle: null,

        ref_date: null,

        cycle_name: null
    }),

    mounted () {

        this.setRefDate();
        this.loadGroupUsers();
        this.loadScoreboard();
    },

    methods: {

        setRefDate () {

            let date = new Date();
            let today = getISODay(date);
            let sunday = setDay(date, 7);

            if (today < 5) {
                sunday = subWeeks(sunday, 1);
            }

            this.ref_date = sunday;

            this.setCycleName();
        },

        setCycleName () {

            let ref_date_quarter = getQuarter(this.ref_date);;
            let ref_date_year = getYear(this.ref_date);

            this.cycle_name = `${ref_date_year}-Q${ref_date_quarter}`;
        },

        loadGroupUsers () {

            let self = this;
            let url = `${api_url}/group-users`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            axios.get(url, config).then(response => {

                let business_unit_options = ['All'];
                
                this.users = response.data.users;
                this.user_groups = response.data.user_groups;

                business_unit_options.push(
                    ...this.user_groups.map(
                        record => record.business_unit
                    )
                );

                this.selected_business_unit = 'All';
                this.business_unit_options = [...new Set(business_unit_options)];

                this.onBusinessUnitSelected();
                this.onGroupSelected();

                this.selected_user_object = this.users.find(function (user) {
                    return user.id == self.selected_user;
                });
            });
        },

        loadScoreboard () {

            const self = this;

            let url = `${api_url}/scoreboard`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                },
                params: {
                    user_id: this.selected_user,
                    cycle_name: this.cycle_name,
                    week_id: this.week_id
                }
            };

            axios.get(url, config).then(
                response => {
                    this.selected_lag_index = 0;
                    this.selected_cfr_page = 1;
                    this.max_week = response.data.max_week;

                    this.metrics = response.data.metrics;
                    this.metric_actions = response.data.metric_actions;
                }
            );
        },

        goToCFRPage (page) {

            this.selected_cfr_page = page;
        },

        getColorClass (metric) {

            if (metric.length == 0) {
                return 'bg-danger';
            }

            let latest_metric = metric[metric.length - 1];

            let numerator = latest_metric.track_value
                ? latest_metric.track_value
                : 0;

            let denominator = latest_metric.track_value
                ? latest_metric.target_value
                : 100;

            let percentage = (100 * numerator / denominator).toFixed(0);

            return percentage <= 50
                ? 'bg-danger'
                : percentage <= 90
                ? 'bg-warning'
                : percentage <= 100
                ? 'bg-success'
                : 'bg-info';
        },

        getLatestValue (tracks) {

            let lastTrack = tracks.find(
                track => track.week_id == this.max_week
            );

            if (!lastTrack) {
                return 'N/A';
            }

            let numerator = tracks.length
                ? lastTrack.track_value || 0 : 0;

            let denominator = tracks.length
                ? lastTrack.target_value || 100 : 100;

            return `${numerator} / ${denominator}`;
        },

        getLatestPercentage (metric) {

            let isReverseProgress = metric.is_reverse_progress;

            let tracks = metric.tracks || [];

            if (tracks.length == 0) {
                return 0;
            }

            let lastTrack = tracks.find(
                track => track.week_id == this.max_week
            );

            if (!lastTrack) {
                return 'N/A';
            }

            let start = 0;
            let target = lastTrack.target_value || 100;
            let current = lastTrack.track_value || 0;
            let progress = 0;

            if (start != target && !isReverseProgress) {
                progress = (current - start) / (target - start);
            }

            if (start != target && isReverseProgress) {
                start = 2 * target;
                progress = (start - current) / (start - target);
            }

            return (100 * progress).toFixed(0);
        },

        getLatestColor(metric) {

            let latestPercentage = this.getLatestPercentage(metric);

            if (latestPercentage <= 50) {
                return 'red white--text';
            }

            if (latestPercentage <= 90) {
                return 'orange white--text';
            }

            if (latestPercentage <= 100) {
                return 'green white--text';
            }

            return 'blue white--text';
        },

        getMetricSeries (metric) {

            let isReverseProgress = metric.is_reverse_progress;

            let tracks = metric.tracks || [];

            let data = tracks.map(function (track) {

                let start = 0;
                let target = track.target_value;
                let current = track.track_value;
                let progress = 0;

                if (start != target && !isReverseProgress) {
                    progress = (current - start) / (target - start);
                }

                if (start != target && isReverseProgress) {
                    start = 2 * target;
                    progress = (start - current) / (start - target);
                }

                return (100 * progress).toFixed(0);
            });

            if (data.length == 1) {
                data.unshift(0);
            }

            return [{ data: data }];
        },

        showMetricDetail (metric) {

            if (!metric.detail || !metric.detail.data) {
                return;
            }

            this.metricDetailData = metric.detail.data;
            this.metricDetailHeaders = metric.detail.headers;
            this.metricDetailCellStyle = metric.detail.cellStyle;

            return this.showingMetricDetail = true;
        },

        onBusinessUnitSelected (selected, id) {

            let self = this;

            let group_options = ['All'];

            if (!selected) {
                selected = this.selected_business_unit;
            }

            let filtered_user_groups = this.user_groups.filter(function (user_group) {

                if (selected == 'All') {
                    return true;
                }

                return user_group.business_unit == selected;
            });

            group_options.push(
                ...filtered_user_groups.map(
                    user_group => user_group.name
                )
            );

            this.selected_business_unit = selected;
            this.selected_group = 'All';
            this.group_options = group_options;
            this.onGroupSelected();
        },

        onGroupSelected (selected, id) {

            let self = this;

            let user_groups = this.user_groups.slice();

            if (!selected) {
                selected = this.selected_group;
            }

            user_groups = user_groups.filter(function (user_group) {

                if (self.selected_business_unit == 'All') {
                    return true;
                }

                return user_group.business_unit == self.selected_business_unit;
            });

            user_groups = user_groups.filter(function (user_group) {

                if (selected == 'All') {
                    return true;
                }

                return user_group.name == selected;
            });

            let user_ids = [];

            user_groups.forEach(function (user_group) {
                user_ids.push(
                    ...user_group.pivot_users.map(
                        pivot => pivot.user_id
                    )
                );
            });

            let users = this.users.filter(function (user) {
                return user_ids.includes(user.id);
            });

            this.filtered_users = users;
        },

        getMetricActionResponsible (responsible) {

            let users = [];

            if (!responsible || !Array.isArray(responsible)) {
                return responsible;
            }

            responsible.forEach(function (record) {

                if (record && record.id) {

                    users.push(
                        `${record.name} ${record.last_name}`
                    )
                }
            });

            return users.join(', ');
        }
    },

    computed: {

        selected_period: {
            get () {
                return this.$store.state.scorecard.selected_period;
            },
            set (value) {
                this.$store.commit('scorecard/setSelectedPeriod', value)
            }
        },

        selected_staff: {
            get () {
                return this.$store.state.scorecard.selected_staff;
            },
            set (value) {
                this.$store.commit('scorecard/setSelectedStaff', value)
            }
        },

        lagActionsFiltered () {

            let page = this.selected_cfr_page;

            let index_min = 5 * (page - 1);
            let index_max = 5 * page - 1;

            return this.lagActions.filter(
                (record, index) => index >= index_min && index <= index_max
            );
        },

        lag_values () {

            return this.metrics
                .filter(record => record.type_code == 'lag')
                .map(record => record.ref_metric);
        },

        cfr_count () {

            return Math.ceil(this.lagActions.length/5);
        },

        metricsWithMappedRelationship () {

            let metrics = this.metrics.slice();

            let map_lead = 0;
            let map_act = 0;

            metrics.forEach(function (metric, index) {

                if (metric.type_code == 'lag') {
                    map_lead = 0;
                }

                if (metric.type_code == 'lead') {

                    map_lead++;
                    map_act = 0;
                    metric.map_no = map_lead;
                }

                if (metric.type_code == 'act') {

                    map_act++;
                    metric.map_no = `${map_lead}.${map_act}`;
                }

                if (metric.type_code == 'qact') {
                    metric.map_no = `${map_lead}.${map_act}`;
                }
            });

            return metrics;
        },

        metricsByLag () {
            
            return this.metricsWithMappedRelationship.filter(
                record => record.type_code != 'wig'
                    && record.ref_lag == this.lag_values[this.selected_lag_index]
            );
        },

        metricsLagLead () {
            return this.metricsByLag.filter(
                record => record.type_code == 'lag' || record.type_code == 'lead'
            );
        },

        metricsActQact () {
            return this.metricsByLag.filter(
                record => record.type_code == 'act' || record.type_code == 'qact'
            );
        },
        
        lagActions () {

            let ref_metrics = this.metricsByLag.map(metric => metric.ref_metric);

            return this.metric_actions.filter(
                record => ref_metrics.includes(record.ref_metric)
            );
        },

        wig () {

            if (!this.metricsByLag.length) {
                return {};
            }

            return this.metrics.find(
                record => record.type_code == 'wig'
                    && record.ref_metric == this.metricsByLag[0].ref_wig
            );
        },

        week_id () {
            return getISOWeek(this.ref_date);
        },

        ref_date_quarter () {
            return getQuarter(this.ref_date);
        },

        ref_date_year () {
            return getYear(this.ref_date);
        }
    },

    watch: {

        cycle_name: 'loadScoreboard',

        selected_user: 'loadScoreboard',

        selected_user_object (selected_user_object) {

            if (!selected_user_object) {
                return;
            }

            return this.selected_user = selected_user_object.id;
        }
    },
};

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>

.metric-detail table {
    border-collapse: collapse;
    display: block;
    max-width: 100%;
}

.metric-detail th,
.metric-detail td {
    border: 1px solid #dddddd;
}

.metric-detail > * {
    margin-left: 0 !important;
    text-indent: 0 !important;
}

p {
    margin-bottom: 0;
}

.link {
    color: #48b0f7;
    text-decoration: underline;
    cursor: pointer;
}

p[data-f-id="pbf"] {
    display: none;
}

</style>
