
<template>
    <div></div>
</template>

<script>

import ApexCharts from 'apexcharts';

let chart;

export default {

    props: {
        chartType: String,
        chartStacked: Number,
        xaxisCategories: Array,
        series: Array
    },

    mounted () {

        chart = new ApexCharts(this.$el, {
            chart: {
                height: 250,
            },
            stroke: {
                colors: 'transparent'
            },
            series: [],
        });

        chart.render();
        
        this.updateOptionsChartType();
        this.updateOptionsChartStacked();
        this.updateOptionsXaxisCategories();
        this.updateSeries();
    },

    methods: {

        updateOptionsChartType () {
            chart.updateOptions({
                chart: {
                    type: this.chartType
                },
            });
        },

        updateOptionsChartStacked () {
            chart.updateOptions({
                chart: {
                    stacked: this.chartStacked
                }
            });
        },

        updateOptionsXaxisCategories () {

            if (!this.xaxisCategories) {
                return;
            }

            chart.updateOptions({
                xaxis: {
                    categories: this.xaxisCategories
                }
            });
        },

        updateSeries () {
            chart.updateSeries(this.series);
        }
    },

    watch: {

        chartType: {
            handler: 'updateOptionsChartType'
        },

        chartStacked: {
            handler: 'updateOptionsChartStacked'
        },

        series: {
            handler: 'updateSeries'
        },

        xaxisCategories: {
            handler: 'updateOptionsXaxisCategories'
        }
    }
}

</script>
