
<template>
    <select data-size="7"
        data-none-selected-text="N/A"
        :data-live-search="dataLiveSearch" v-model="selected">
        <option v-for="(option, index) in normalizedOptions"
            :key="index" :value="option.value">
            {{ option.label }}
        </option>
    </select>
</template>

<script>

import 'bootstrap-select/dist/css/bootstrap-select.css';
import 'bootstrap-select/dist/js/bootstrap-select.js';

export default {
    
    props: {
        options: {
            type: Array,
            default: () => []
        },
        liveSearch: Boolean,

        value: null
    },

    data: () => ({
        selected: null
    }),

    mounted () {
        this.initialize();
    },

    methods: {

        initialize () {

            $(this.$el).selectpicker();

            this.selected = this.value;

            if (!this.value && this.normalizedOptions.length) {

                this.selected = this.normalizedOptions[0].value;
                
                this.$emit('input', this.selected);
                $(this.$el).selectpicker('val', this.normalizedOptions[0].value);
            }
        },
    },

    computed: {

        dataLiveSearch () {
            return this.liveSearch;
        },

        normalizedOptions () {
            return this.options.map(
                option => ({
                    label: option.label || option.label == '' ? option.label : option,
                    value: option.value || option.value == '' ? option.value : option,
                })
            );
        }
    },

    watch: {

        options () {
            return this.$nextTick(() => {
                
                $(this.$el).selectpicker('refresh');

                this.selected = this.value;

                if (!this.value && this.normalizedOptions.length) {

                    this.selected = this.normalizedOptions[0].value;
                    
                    this.$emit('input', this.selected);
                    $(this.$el).selectpicker('val', this.normalizedOptions[0].value);
                }
            });
        },

        selected () {
            return this.$emit('input', this.selected);
        },

        value () {

            if (this.value) {
                this.selected = this.value;
            }

            if (!this.value && this.normalizedOptions.length) {
                this.selected = this.normalizedOptions[0].value;
            }

            $(this.$el).selectpicker('val', this.selected);
        }
    }
}

</script>
