
<template>
    <div class="modal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog" :class="[size]">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ title }}
                    </h5>
                    <button class="close" @click="hideModal()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {

    props: ['show', 'title', 'size'],

    mounted () {

        let self = this;

        $(this.$el).on('hidden.bs.modal', function () {
            self.$emit('update:show', false);
        });

        if (this.show) {
            this.showModal();
        }
    },

    methods: {

        showModal () {
            $(this.$el).modal('show');
        },

        hideModal () {
            $(this.$el).modal('hide');
        }
    },

    watch: {
        show (value) {
            return value
                ? this.showModal()
                : this.hideModal();
        }
    }
}

</script>
