
<template>
    <div></div>
</template>

<script>

import ClassicEditor from '@ckeditor/ckeditor5-editor-classic/src/classiceditor';
import Essentials from '@ckeditor/ckeditor5-essentials/src/essentials';
import Alignment from '@ckeditor/ckeditor5-alignment/src/alignment';

export default {

    mounted () {

        ClassicEditor.create(this.$el, {
                plugins: [Essentials, Alignment],
                toolbar: ['alignment']
            })
            .catch(error => console.log(error));
    }
}

</script>
