
<template>
    <div></div>
</template>

<script>

import FroalaEditor from 'froala-editor';
import 'froala-editor/css/froala_editor.pkgd.min.css';
// import 'froala-editor/js/plugins/font_family.min.js';
import 'froala-editor/js/plugins/font_size.min.js';
import 'froala-editor/js/plugins/colors.min.js';
import 'froala-editor/css/plugins/colors.min.css';
import 'froala-editor/js/plugins/align.min.js';
import 'froala-editor/js/plugins/lists.min.js';
import 'froala-editor/js/plugins/paragraph_format.min.js';
import 'froala-editor/js/plugins/paragraph_style.min.js';
import 'froala-editor/js/plugins/line_height.min.js';
import 'froala-editor/js/plugins/quote.min.js';
import 'froala-editor/js/plugins/link.min.js';
import 'froala-editor/js/plugins/image.min.js'
import 'froala-editor/css/plugins/image.min.css'
import 'froala-editor/js/plugins/table.min.js';
import 'froala-editor/css/plugins/table.min.css';
import 'froala-editor/js/plugins/emoticons.min.js';
import 'froala-editor/js/third_party/embedly.min.js';
import 'froala-editor/css/third_party/embedly.min.css';
import 'froala-editor/js/plugins/fullscreen.min.js';
import 'froala-editor/js/plugins/help.min.js';
import 'froala-editor/css/plugins/help.min.css';

let editor = null;

export default {

    props: {
        value: String
    },

    mounted () {

        let self = this;

        editor = new FroalaEditor(this.$el, {

            pluginsEnabled: [
                'fontSize',
                'align',
                'lists',
                'paragraphFormat',
                'paragraphStyle',
                'lineHeight',
                'quote',
                'link',
                'image',
                'table',
                'emoticons',
                'embedly',
                'fullscreen',
                'help'
            ],

            toolbarButtons: {   
                moreText: {
                    buttons:  [
                        'bold',
                        'italic',
                        'underline',
                        'strikeThrough',
                        'subscript',
                        'superscript',
                        // 'font_family',
                        'font_fize',
                        'textColor',
                        'backgroundColor',
                        'clearFormatting'
                    ]
                },
                moreParagraph: {
                    buttons: [
                        'alignLeft',
                        'alignCenter',
                        'formatOLSimple',
                        'alignRight',
                        'alignJustify',
                        'formatOL',
                        'formatUL',
                        'paragraphFormat',
                        'paragraphStyle',
                        'lineHeight',
                        'outdent',
                        'indent',
                        'quote'
                    ]
                },
                moreRich: {
                    buttons: [
                        'insertLink',
                        'insertImage',
                        'insertTable',
                        'emoticons',
                        'embedly',
                        'insertHR'
                    ]
                },
                moreMisc: {
                    buttons: [
                        'undo',
                        'redo',
                        'fullscreen',
                        'selectAll',
                        'help'
                    ]
                }
            },
            events: {
                contentChanged () {
                    self.emitInput();
                },
                'image.beforeUpload': function (files) {

                    if (files.length) {

                        // Create a File Reader.
                        var reader = new FileReader();
 
                        // Set the reader to insert images when they are loaded.
                        reader.onload = function (e) {
                            var result = e.target.result;
                            editor.image.insert(result, null, null, editor.image.get());
                        };

                        // Read image as base64.
                        reader.readAsDataURL(files[0]);
                    }

                    editor.popups.hideAll();

                    // Stop default upload chain.
                    return false;
                }
            }
        });

        this.setEditorValue();
    },

    methods: {

        emitInput () {
            
            this.$emit('input', editor.html.get());
        },

        setEditorValue () {
            return editor.html
                ? editor.html.set(this.value)
                : null;    
        }
    },
    
    watch: {
        value (value, old_value) {
            if (value != editor.html.get()) {
                return this.setEditorValue();
            }
        }
    }
}

</script>

<style>

.fr-popup {
    z-index: 1060 !important;
}

.fr-popup .fr-table-colors {
    padding-bottom: 20px;
}

</style>
