
<template>
  <div></div>
</template>

<script>

import Highcharts from 'highcharts';

export default {

  props: {

    seriesList: null,

    sparkline: Boolean,

    titleText: null,

    xaxisCategories: null,

    yaxisTitleText: null
  },

  mounted () {

    this.initChart();

    this.addAllSeries();
  },

  data: () => ({

    chart: null
  }),

  methods: {

    initChart () {

      this.chart = Highcharts.chart(this.$el, this.options);
    },

    addAllSeries () {

      this.removeAllSeries();

      this.seriesList.forEach(
        series => this.chart.addSeries(series)
      );
    },

    removeAllSeries () {

      let length = this.chart.series.length;

      for (let i = length - 1; i > -1; i--) {
        this.chart.series[i].remove();
      }
    },

    updateXaxisCategories () {

      this.chart.update({
        xAxis: {
          categories: this.xaxisCategories
        }
      });
    }
  },

  computed: {

    options () {

      if (this.sparkline) {
        return this.optionSparkline;
      }

      return this.optionGeneral;
    },

    optionGeneral () {

      return {

        credits: {
          enabled: false
        },

        title: {
          text: this.titleText
        },

        xAxis: {
          categories: this.xaxisCategories
        },

        yAxis: {
          title: {
            text: this.yaxisTitleText
          }
        }
      };
    },

    optionSparkline () {

      return {

        chart: {
          backgroundColor: null,
          height: 55,
          width: 100
        },

        credits: {
          enabled: false
        },

        legend: {
          enabled: false
        },

        title: {
          text: this.titleText
        },

        xAxis: {
          visible: false,
        },

        yAxis: {
          visible: false,
        }
      };
    }
  },

  watch: {

    seriesList: 'addAllSeries',
    xaxisCategories: 'updateXaxisCategories'
  }
};

</script>
