
<template>
    <div :class="{ read: modeRead }"></div>
</template>

<script>

import jexcel from 'jexcel';
import 'jexcel/dist/jexcel.min.css';
import { spread } from 'q';

export default {

    props: {
        headers: String,
        cellStyle: Object,
        value: Array,
        modeRead: Boolean,
        columnCount: Number
    },

    data: () => ({
        spreadsheet: null,
        updatingColumn: false
    }),
    
    mounted () {
        this.init();
    },

    methods: {

        init () {
            this.spreadsheet = jexcel(this.$el, this.options);
            this.setData();
        },

        updateColumn () {

            let headerLength = this.spreadsheet.getHeaders().split(',').length;

            this.updatingColumn = true;

            if (this.columnCount > headerLength) {
                for (let i = 0; i < this.columnCount - headerLength; i++) {
                    this.spreadsheet.insertColumn();
                }
            }

            if (this.columnCount < headerLength) {
                for (let i = 0; i < headerLength - this.columnCount; i++) {
                    this.spreadsheet.deleteColumn();
                }
            }

            this.updatingColumn = false;
        },

        // setHeaders () {

        //     let header_length = 4;
        //     let current_headers_length = spreadsheet.getHeaders().split(',').length;

        //     if (this.headers) {
        //         header_length = this.headers.split(',').length;
        //     }

        //     if (header_length > current_headers_length) {
        //         for (let i = 0; i < header_length - current_headers_length; i++) {
        //             spreadsheet.insertColumn();
        //         }
        //     }

        //     if (header_length < current_headers_length) {
        //         for (let i = 0; i < current_headers_length - header_length; i++) {
        //             spreadsheet.deleteColumn();
        //         }
        //     }

        //     if (!this.headers) {

        //         let header = 'A';

        //         for (let i = 0; i < 4; i++) {

        //             spreadsheet.setHeader(i, header);
        //             header = String.fromCharCode(header.charCodeAt() + 1);
        //         }

        //         return;
        //     }

        //     let headers = this.headers.split(',');

        //     for (let i = 0; i < headers.length; i++) {
        //         spreadsheet.setHeader(i, headers[i]);
        //     }
        // },

        setData () {

            if (!this.spreadsheet) {
                return;
            }

            if (JSON.stringify(this.spreadsheet.getData()) == JSON.stringify(this.value)) {
                return;
            }

            let spreadSheetData = this.spreadsheet.getData();
            let spreadSheetColumnCount = spreadSheetData[0].length;

            let newSpreadSheetData = this.value;
            let newSpreadSheetColumnCount = this.value[0].length;

            if (!newSpreadSheetColumnCount) {
                newSpreadSheetColumnCount = 1;
            }

            if (newSpreadSheetColumnCount > spreadSheetColumnCount) {
                for (let i = 0; i < newSpreadSheetColumnCount - spreadSheetColumnCount; i++) {
                    this.spreadsheet.insertColumn();
                }
            }

            if (newSpreadSheetColumnCount < spreadSheetColumnCount) {
                for (let i = 0; i < spreadSheetColumnCount - newSpreadSheetColumnCount; i++) {
                    this.spreadsheet.deleteColumn();
                }
            }

            if (JSON.stringify(this.spreadsheet.getData()) != JSON.stringify(this.value)) {
                this.spreadsheet.setData(this.value);
            }
            
            // if (JSON.stringify(spreadsheet.getStyle()) != JSON.stringify(this.cellStyle)) {
            //     spreadsheet.setStyle(this.cellStyle);
            // }
        },

        onChange () {
            return this.emitInput();
        },

        // onInsertColumn () {

        //     if (this.updatingColumn)  {
        //         return;
        //     }

        //     this.$emit('update:columnCount', spreadsheet.getHeaders().split(',').length);
        // },

        // onDeleteColumn () {
            
        //     if (this.updatingColumn)  {
        //         return;
        //     }

        //     this.$emit('update:columnCount', spreadsheet.getHeaders().split(',').length);
        // },

        emitInput() {
            // this.$emit('update:headers', spreadsheet.getHeaders());
            // this.$emit('update:cellStyle', spreadsheet.getStyle());
            this.$emit('input', this.spreadsheet.getData());
        }
    },

    computed: {

        compValue () {
            return this.value
                ? this.value
                : [[]];
        },

        options () {
            return {
                data: [[]],
                columns: [null],
                onchange: this.onChange,
                oninsertcolumn: this.onInsertColumn,
                ondeletecolumn: this.onDeleteColumn
            }
        }
    },

    watch: {

        columnCount: 'updateColumn',
        // headers: 'setHeaders',
        // cellStyle: 'setStyle',
        value: 'setData'
    }
}

</script>

<style>

.read table.jexcel colgroup col:first-child,
.read table.jexcel thead tr td:first-child,
.read table.jexcel tbody tr td:first-child,
.jexcel_pagination {
    display: none;
}

.jexcel_toolbar i.jexcel_toolbar_item {
    height: 32px;
    width: 32px;
}

.jexcel_container, .jexcel_content, .jexcel {
    padding-right: 0;
    width: 100%;
}

</style>
