
<template>
    <div class="modal micromodal-slide" :id="compId">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container">
                <header class="modal__header">
                    <h2 class="modal__title">
                        Modal Title
                    </h2>
                    <button class="modal__close" data-micromodal-close></button>
                </header>
                <div class="modal__content">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import MicroModal from 'micromodal';
import '@/assets/micromodal.css';

export default {

    props: {
        id: String
    },

    mounted () {
        MicroModal.init();
    },

    methods: {

        showModal () {
            MicroModal.show(this.compId);
        },

        closeModal () {
            MicroModal.close(this.compId);
        }
    },

    computed: {

        compId () {
            return this.id;
        }
    }
}

</script>
