
<template>
    <div>
        <v-dialog v-model="show_dialog" max-width="800px" @click:outside="emitUpdateShowFalse()">
            <v-card>
                <div class="py-3">                    
                    <div class="px-6 py-3"
                        v-for="(record, index) in feedback_question"
                        :key="index">
                        <div class="mb-2">
                            <div v-html="record.template"></div>
                        </div>
                        <div class="text-center"
                            v-if="record.type == 'button'">
                            <v-btn class="m-1"
                                v-for="option in parse(record.options)"
                                :key="option"
                                @click="feedback_response[record.id] = option"
                                :color="feedback_response[record.id] == option ? 'red' : ''"
                                dark
                                depressed
                                small>
                                {{ option }}
                            </v-btn>
                        </div>
                        <div v-if="record.type == 'textarea'">
                            <v-textarea
                                class="b-1"
                                v-model="feedback_response[record.id]"
                                rows="3"
                                auto-grow
                                hide-details
                                solo>
                            </v-textarea>
                        </div>
                    </div>
                    <div class="px-6 py-2">
                        <div class="-m-1">
                            <v-btn
                                class="mx-1"
                                depressed
                                @click="storeMultipleFeedbackAnswerResponse">
                                <span>Skip</span>
                            </v-btn>
                            <v-btn
                                class="mx-1"
                                color="blue white--text"
                                depressed
                                @click="storeMultipleFeedbackAnswerResponse">
                                <span>Submit</span>
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>

export default {

    props: {
        show: Boolean
    },

    data: () => ({

        show_dialog: false,
        feedback_question: [],
        feedback_response: {},
        
    }),

    mounted () {
        this.listFeedbackQuestion();
    },

    methods: {

        parse (text) {

            return JSON.parse(text);
        },

        listFeedbackQuestion () {

            let url = `${api_url}/feedback-question`;
            let token = localStorage.getItem('token');

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            let axios_get = axios.get(url, config);
            
            axios_get.then(response => {
                let data = response.data.data;
                this.feedback_question = data.feedback_question;
            });
        },

        storeMultipleFeedbackAnswerResponse () {

            let url = `${api_url}/multiple-feedback-answer`;
            let token = localStorage.getItem('token');

            let data = {
                multiple_feedback_answer: []
            };

            this.feedback_question.forEach(element => {

                if (!this.feedback_response[element.id]) {
                    return;
                }

                data.multiple_feedback_answer.push({
                    question_id: element.id,
                    value: this.feedback_response[element.id]
                });
            });

            let config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            this.dialog = false;
            this.feedback_response = {};

            if (!data.multiple_feedback_answer.length) {
                return this.$emit('update:show', false);
            }

            let axios_post = axios.post(url, data, config);

            axios_post.then(response => {
                Swal.fire({
                    toast: true,
                    type: 'success',
                    title: 'Feedback is successfully submitted.',
                    showConfirmButton: false,
                    timer: 3500,
                    position: 'bottom-start'
                });
            });

            this.emitUpdateShowFalse();
        },

        emitUpdateShowFalse () {
            this.$emit('update:show', false);
        }
    },

    watch: {

        show (show) {

            if (this.feedback_question.length) {
                return this.show_dialog = show;
            }
        },

        feedback_question (feedback_question) {

            feedback_question.forEach(element => {
                
                this.$set(
                    this.feedback_response,
                    element.id,
                    null
                );
            });
        }
    }
};

</script>
