
<template>
    <span class="sl"></span>
</template>

<script>

import '@/assets/sparkline-2.1.2/jquery.sparkline.js';

export default {

    props: {
        type: null,
        range_min: null,
        range_max: null,
        values: Array,
        color_map: Object
    },
    
    mounted () {

        this.sparkline();
    },

    methods: {

        sparkline () {

            const self = this;

            let range_min = this.range_min || 0;
            let range_max = this.range_max || 100;

            
                let options = {};

                options.type = self.type || 'line';

                // if (index == 0) {
                    options.height = 25;
                    options.width = 200;
                    options.barWidth = 6;
                //     options.lineWidth = 2,
                //     options.lineColor = '#465161';
                //     options.fillColor = '#f7fafc';
                //     options.spotColor = false;
                //     options.minSpotColor = false;
                //     options.maxSpotColor = false;
                    options.colorMap = this.color_map;
                // }

                // if (index > 0) {
                    // options.composite = true;
                    options.lineWidth = 2,
                    options.lineColor = '#926dde';
                    options.fillColor = '#c8c8c8';
                    options.spotColor = false;
                    options.spotRadius = 2.5;
                    options.minSpotColor = false;
                    options.maxSpotColor = false;
                    options.valueSpots = { '0:': '#926dde' };
                // }

                options.chartRangeMin = range_min;
                options.chartRangeMax = range_max;

                $(self.$el).sparkline(this.values, options);
        }
    },

    watch: {

        values: 'sparkline'
    }
}

</script>

<style>

.sl canvas {
    vertical-align: middle !important;
}

</style>