
<template>
    <div></div>
</template>

<script>

import tingle from 'tingle.js';
import 'tingle.js/dist/tingle.min.css';
import { watch } from 'fs';

let modal = null;

export default {

    props: {
        show: Boolean,
        content: String,
    },

    mounted () {

        const self = this;

        modal = new tingle.modal({
            onClose () {
                self.$emit('update:show', false);
            }
        });

        this.setContent();
    },

    methods: {

        setContent () {
            return this.content
                ? modal.setContent(this.content)
                : null;
        },

        openModal () {
            modal.open();
        },

        closeModal () {
            modal.close();
        }
    },

    watch: {

        show () {

            return this.show
                ? this.openModal()
                : this.closeModal();
        },

        content: {
            handler: 'setContent'
        }
    }
}

</script>
