
<template>
    <VueApexCharts
        class="sparkline"
        style="float: right"
        :type="type"
        :width="width"
        :height="height"
        :options="options"
        :series="series">
    </VueApexCharts>
</template>

<script>

import VueApexCharts from 'vue-apexcharts';

export default {

    components: {
        VueApexCharts
    },

    props: {
        type: null,
        width: null,
        height: null,
        series: null,
        yaxis_min: Number,
        yaxis_max: Number
    },

    data: () => ({

        options: {

            chart: {
                sparkline: {
                    enabled: true
                }
            },

            colors: [
                ({ value }) => {

                    if (value <= 50) {
                        return '#E53935';
                    }

                    if (value <= 90) {
                        return '#FB8C00';
                    }

                    if (value <= 100) {
                        return '#43A047';
                    }

                    return '#1E88E5';
                }
            ],

            tooltip: {
                x: {
                    show: false
                },
                y: {
                    title: {
                        formatter: () => ''
                    }
                },
                marker: {
                    show: false
                }
            },

            yaxis: {

            }
        }
    }),

    created () {

        if (this.yaxis_min !== null) {
            this.options.yaxis.min = this.yaxis_min;
        }

        if (this.yaxis_max !== null) {
            this.options.yaxis.max = this.yaxis_max;
        }
    }
};

</script>

<style>

.sparkline .apexcharts-tooltip-series-group {
    padding-bottom: 0;
}

.sparkline .apexcharts-tooltip-text-value {
    margin-left: 0;
}

</style>