
label.v-label {
    margin-bottom: 0 !important;
}

.w-1px {
    width: 1px !important;
}

.min-w-200px {
    min-width: 200px !important;
}

@media print {

    header.v-toolbar {
        display: none;
    }

    /*
    .metric-container {
        page-break-after: always;
    }
    */

    .printing-area {
        position: relative;
    }
}