
<template>
  <div>
    <v-app>
      <div>
      <v-toolbar dark v-if="show_toolbar">
        <v-toolbar-items>
          <v-btn-toggle class="h-full rounded-none">
            <v-btn class="h-full b-0"
              text
              to="/batch/metric-tracks/create">
              <span>Metrics</span>
            </v-btn>
            <v-menu offset-y left>
              <template v-slot:activator="{ on }">
                <v-btn class="h-full b-0" icon v-on="on">
                  <v-icon large>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-list class="mt-1">
                <v-list-item target="_blank" to="/metric-connector">
                  <v-list-item-title>
                    <span>Metric Connectors</span>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-btn-toggle>
          <v-btn-toggle class="h-full rounded-none">
            <v-btn class="opacity-100 h-full b-0" target="_blank" text to="/scoreboard">
              <span>Scoreboard</span>
            </v-btn>
            <v-menu offset-y left>
              <template v-slot:activator="{ on }">
                <v-btn class="opacity-100 h-full b-0" icon v-on="on">
                  <v-icon large>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-list class="mt-1">
                <v-list-item target="_blank" to="/simple-scoreboard">
                  <v-list-item-title>
                    <span>Simple Scoreboard</span>
                  </v-list-item-title>
                </v-list-item>
                <!--
                <v-list-item target="_blank" to="/scoreboard-history">
                  <v-list-item-title>
                    <span>Scoreboard History</span>
                  </v-list-item-title>
                </v-list-item>
                -->
              </v-list>
            </v-menu>
          </v-btn-toggle>
          <v-btn target="_blank" text to="/scoreboard-review">
            <span>Review</span>
          </v-btn>
          <v-btn target="_blank" v-if="is_admin" text to="/report-progress-summary">
            <span>Performance</span>
          </v-btn>
          <v-btn target="_blank" text to="/report-scoreboard-submission">
            <span>Leaderboard</span>
          </v-btn>
        </v-toolbar-items>
        <div class="flex-grow-1"></div>
        <v-toolbar-items>
          <v-btn
            target="_blank"
            text
            href="https://docs.google.com/presentation/d/1oY4_sNKHqhIUw2sebG026D66QT8bjxJl0l4QCYTO_cE/edit#slide=id.g6d1a713b7a_0_52">
            <span>Help</span>
          </v-btn>
          <v-menu offset-y dark>
            <template v-slot:activator="{ on }">
              <v-btn text v-on="on">
                <span>{{ user_name }}</span>
              </v-btn>
            </template>
            <v-list class="mt-1">
              <!--
              <v-list-item
                to="/user-setting">
                <v-list-item-title>
                  Setting
                </v-list-item-title>
              </v-list-item>
              -->
              <v-list-item @click.prevent="logout">
                <v-list-item-title>
                  Logout
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar-items>
      </v-toolbar>
      </div>
      <v-content>
          <v-container fluid style="max-width: none;">
            <v-row>
              <v-col>
                <router-view/>
              </v-col>
            </v-row>
          </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>

import axios from 'axios';

let base_url = process.env.VUE_APP_BASE_URL;
let logout_url = `${base_url}/logout`;

export default {

    data: () => ({

        display_submenu: [false, false],
    }),

    mounted () {

    },

    methods: {

        showMenu(index) {
            this.display_submenu[index] = !this.display_submenu[index];
        },

        logout () {

            let token = localStorage.getItem('token');

            let logout_config = {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            };

            axios.get(logout_url, logout_config)
                .then(this.onLogoutSuccess)
                .catch(this.onLogoutError);

            this.$router.push('/login');
        },

        onLogoutSuccess (response) {

            localStorage.removeItem('token');
            localStorage.removeItem('is_admin');
            localStorage.removeItem('user.id');
            localStorage.removeItem('user.name');
            localStorage.removeItem('user.email');
        },

        onLogoutError (error) {

        }
    },

    computed: {

        show_toolbar () {
            return !this.$route.meta.hide_toolbar;
        },

        user_name () {
            return this.$store.state.user_name;
        },

        is_admin () {
            return this.$store.state.is_admin;
        }
    }
};

</script>
